#RedBar {
  background: #c62328;
  color: white;
  text-align: center; }
  #RedBar .sfContentBlock {
    padding: 15px; }
    #RedBar .sfContentBlock a {
      color: white; }

#BlueBar .notification#StickyBar {
  background-color: #1BAAE4;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 100;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  z-index: 11 !important;
  width: 100%; }

body {
  font-size: 16px;
  font-family: ars-maquette-web, sans-serif;
  color: #58595b; }

a {
  color: #0065e3; }
  a:hover {
    color: #d9d9d9; }

li p {
  font-weight: 200;
  letter-spacing: 0.5px; }

img, svg, video, audio {
  max-width: 100%; }

u h1 {
  color: #000000; }

button {
  border: none;
  text-align: center;
  cursor: pointer; }

textarea {
  overflow: auto;
  font: inherit;
  margin: 0;
  resize: none; }

input[type="text"] {
  color: #333;
  border: 1px solid #e5e5ea;
  border-radius: 3px;
  padding: 12px 8px; }

select {
  color: #333;
  box-shadow: none;
  padding: 12px 26px 12px 10px;
  width: 100%;
  border: none;
  background-color: transparent;
  background-image: none; }

footer {
  background-color: #e5e5ea;
  bottom: 0;
  height: auto;
  padding-bottom: 40px; }

.font-size-24 {
  font-size: 24px; }

.hidden {
  display: none; }

.h1_1 {
  font-family: ars-maquette-web, sans-serif;
  font-weight: 400;
  font-size: 45px; }

.h1_2 {
  font-family: ars-maquette-web, sans-serif;
  font-weight: 400;
  font-size: 52px; }

.h1_3 {
  font-family: Conduit Light, sans-serif;
  font-weight: 500;
  font-size: 60px; }

.h2_1 {
  font-family: ars-maquette-web, sans-serif;
  font-size: 32px; }

.h2_2 {
  font-family: ars-maquette-web, sans-serif;
  font-size: 20px;
  font-weight: 200; }

.h2_3 {
  font-family: ars-maquette-web, sans-serif;
  font-size: 16px;
  font-weight: 700; }

.h2_4 {
  font-family: ars-maquette-web, sans-serif;
  font-size: 48px;
  font-weight: 300; }

.h2_5 {
  font-family: ars-maquette-web, sans-serif;
  font-size: 32px;
  font-weight: 300; }

.h3_1 {
  font-family: ars-maquette-web, sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase; }

.h3_2 {
  font-family: ars-maquette-web, sans-serif;
  font-size: 16px;
  font-weight: 200; }

.h3_3 {
  font-family: ars-maquette-web, sans-serif;
  font-size: 14px;
  font-weight: 200; }

.h3_4 {
  font-family: ars-maquette-web, sans-serif;
  font-size: 18.72px;
  font-weight: 300; }

.h3_5 {
  font-family: ars-maquette-web, sans-serif;
  font-size: 18.72px; }

.h4_1 {
  font-family: ars-maquette-web, sans-serif; }

.h5_1 {
  font-family: ars-maquette-web, sans-serif; }

.h5_2 {
  font-family: ars-maquette-web, sans-serif;
  font-weight: 700;
  font-size: 13px; }

.h6_1 {
  font-family: ars-maquette-web, sans-serif; }

.p_1 {
  font-family: unset;
  font-weight: 200;
  font-size: 14px; }

.p_2 {
  font-family: ars-maquette-web, sans-serif;
  font-weight: 100;
  font-size: 10px; }

.p_3 {
  font-family: ars-maquette-web, sans-serif;
  font-weight: 200;
  font-size: 14px; }

.p_3 {
  font-family: ars-maquette-web, sans-serif;
  font-weight: 200;
  font-size: 0.9em; }

.p_4 {
  font-family: ars-maquette-web, sans-serif;
  font-weight: 200; }

.alert {
  border: 1px solid red;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }

.alert-warning {
  background-color: #ffffff;
  border-color: #fff215;
  color: #58595b; }

.alert-error {
  background-color: #ffffff;
  border-color: #c62328;
  color: #c62328; }

.alert-success {
  background-color: #ffffff;
  border-color: #e5e5ea;
  color: #10ace3; }

.alert-info {
  background-color: #ffffff;
  border-color: #10ace3;
  color: #0065e3; }

.btn--red {
  background: #c62328;
  color: #ffffff !important;
  font-weight: 400;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: lowercase;
  font-family: nunito sans, sans-serif;
  font-size: 1rem;
  transition: all ease-in 300ms;
  border: 0;
  -webkit-appearance: button;
  cursor: pointer; }

.btn--transparent__outline {
  background-color: transparent;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  height: 45px;
  max-width: 225px;
  width: 140px;
  border: 1px solid #ffffff !important; }
  .btn--transparent__outline:hover {
    background-color: #ffffff; }

.btn--transparent {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  flex: 0 0 180px;
  height: 48px;
  box-sizing: border-box;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .9em;
  border-radius: 3px;
  cursor: pointer; }
  .btn--transparent:hover {
    background-color: #ffffff;
    color: #000000; }

.btn--blue {
  background-color: #0065e3;
  color: #ffffff;
  font-weight: 600;
  font-size: 15px;
  border-radius: 3px;
  height: 45px;
  margin-right: 10px;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px; }
  .btn--blue:hover {
    background-color: #004eb0; }
  @media only screen and (max-width: 600px) {
    .btn--blue {
      margin-top: 10px;
      text-align: center; } }

.btn--blue__outline {
  background-color: #ffffff;
  border-radius: 3px;
  color: #0065e3;
  font-size: 14px;
  height: 45px;
  max-width: 225px;
  width: 140px;
  border: 1px solid #0065e3; }
  .btn--blue__outline:hover {
    background-color: #e6e6e6; }

.hero #singlePriceTwoButtons {
  margin-bottom: 10px;
  font-weight: bold !important;
  width: 225px !important; }

.hero__button--persian {
  color: #ffffff !important;
  background-color: #0065e3 !important; }

.hero__button--orange {
  color: #000000 !important;
  background-color: #ffc40c; }
  .hero__button--orange:hover {
    background-color: #d8a400; }

.hero-button-wrapper {
  font-size: 14px;
  margin-right: 10px;
  display: flex;
  width: 100%; }
  @media only screen and (max-width: 600px) {
    .hero-button-wrapper {
      align-items: center;
      flex-direction: column;
      justify-content: center; } }

.internet-hero {
  min-width: 200px; }

.c-wifi-cta button {
  width: 239px; }

.hero__button {
  font-size: 14px;
  font-weight: 600;
  max-width: 225px;
  height: 48px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 3px;
  justify-content: center;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 30px; }
  .hero__button :first-of-type {
    margin-right: 10px; }
  @media only screen and (max-width: 600px) {
    .hero__button {
      margin-bottom: 12px; } }

.req {
  color: #c62328; }

.error-message {
  color: #c62328; }

input[type="text"] {
  color: #333;
  border: 1px solid #e5e5ea;
  border-radius: 3px;
  padding: 12px 8px; }

textarea {
  overflow: auto;
  font: inherit;
  margin: 0;
  resize: none; }

.form-group {
  color: #58595b;
  border: 0; }

.form-row {
  border-bottom: 1px solid #58595b;
  margin-bottom: 10px; }

.form-group input[type="text"] {
  padding: 5px 0;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
  width: 100%;
  margin-bottom: 0;
  line-height: normal;
  font: inherit; }

.form-group textarea {
  color: #e5e5ea;
  border: 0;
  border-radius: 0;
  width: 100%;
  padding: 0;
  padding-left: 0px;
  box-sizing: border-box;
  min-height: 100px; }

.address-group {
  width: 100%;
  overflow: auto;
  display: table; }

.ag-city {
  width: 50%;
  border-right: 1px solid #e5e5ea; }

.address-group div {
  display: table-cell; }

.ag-state {
  width: 25%;
  border-right: 1px solid #e5e5ea;
  padding: 5px; }

.form-group label {
  display: block;
  font-family: nunito sans,sans-serif;
  text-transform: uppercase;
  font-size: 12px; }

.form-row select {
  border-bottom: 0; }

.form-group select {
  box-sizing: border-box;
  padding: 5px 0;
  color: #58595b;
  border: 0;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-radius: 0;
  width: 100%; }

select {
  color: #000000;
  box-shadow: none;
  padding: 12px 26px 12px 10px;
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none; }

.select-wrapper {
  position: relative;
  max-width: 240px;
  width: 100%;
  border: 1px solid #e5e5ea;
  border-radius: 3px;
  margin-bottom: 5px;
  overflow: hidden; }

.inquiry-row {
  width: 50%; }

.inquiry-type-select {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px,5px 5px,1px 1.5em;
  background-repeat: no-repeat; }

.comment-row textarea {
  padding-left: 0; }

.button-select select {
  position: relative;
  background-color: #0065e3;
  height: 36px;
  min-width: 154px;
  line-height: 36px;
  text-align: left;
  font-weight: 700;
  font-size: .85rem;
  color: #ffffff;
  border-radius: 4px;
  padding: 0 48px 0 18px;
  cursor: pointer;
  border: none; }

.button-select select::after {
  content: '';
  background-image: url(/assets/img/chevron-white.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 14px;
  margin: auto;
  transition: transform .15s ease-out; }

.video.active {
  align-items: center;
  display: flex;
  justify-content: center; }

.video {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  height: 100vh;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 4; }

.modal-overlay {
  display: none; }
  .modal-overlay .active {
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001; }

.modalhome {
  align-items: center;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.16), 0 1px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  padding: 20px;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 375px;
  z-index: 4; }

.modal-close {
  width: auto !important;
  margin-right: 0;
  margin-left: auto; }

.disableClose {
  display: none; }

.modal-body {
  margin-top: 24px;
  width: 100%; }
  .modal-body .modal-content {
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 5px; }
  .modal-body .title {
    font-size: 32px;
    font-weight: 600; }

.modal-content {
  margin-bottom: 20px;
  text-align: center;
  width: 100%; }

.modal-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 55%; }
  @media only screen and (max-width: 600px) {
    .modal-grid {
      width: 80%; } }

.vert {
  margin-bottom: 1.5em; }

.vert .simply-scroll-clip {
  max-width: 602px; }

.simply-scroll-clip {
  position: relative;
  overflow: hidden; }

.simply-scroll-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none; }

.feed h5 {
  font-size: 13px;
  margin: 0 0 5px 0;
  color: #58595b;
  font-family: nunito sans, sans-serif;
  font-weight: 700; }

.simply-scroll-list li {
  padding: 0;
  margin: 0;
  list-style: none; }

.vert .simply-scroll-list li {
  width: 602px;
  height: 95px; }

.link-menu {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.28);
  display: none;
  flex-direction: column;
  left: -15px;
  max-width: 220px;
  min-width: 120px;
  padding: 10px 15px;
  position: absolute;
  top: 35px;
  transition: 150ms ease-in-out;
  z-index: 3;
  width: 100%; }

.link-menu a {
  background-color: #ffffff;
  color: #000000;
  display: block;
  font-size: 14px;
  margin: 0;
  padding: 10px 0;
  text-decoration: none;
  max-width: fit-content;
  max-width: -moz-fit-content; }

.nav-primary {
  background-color: #ffffff;
  height: 30px;
  width: 100%; }

@media only screen and (max-width: 1024px) {
  .nav-primary {
    display: none; } }

.nav-primary__links__wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  max-width: 1440px; }

.nav-primary__links {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 50px;
  max-width: 550px;
  width: 100%; }

@media only screen and (max-width: 1024px) {
  .nav-primary__links {
    display: none;
    margin-right: 0;
    padding: 0 10px; } }

.nav-primary__link {
  color: #000000 !important;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none; }

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }

.nav-secondary {
  background-color: #ffc40c;
  width: 100%;
  align-items: center; }

.nav-secondary__banner {
  background-image: url("");
  background-color: #0065e3;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 10px; }
  @media only screen and (max-width: 800px) {
    .nav-secondary__banner {
      background-size: contain; } }

.nav-secondary__content {
  height: 100%;
  align-items: center;
  display: flex;
  max-width: 1440px;
  padding: 15px 0; }

.nav-secondary__content__logo {
  height: inherit;
  margin-left: 70px;
  margin-right: auto;
  padding-top: 10px; }
  @media only screen and (max-width: 950px) {
    .nav-secondary__content__logo {
      margin-left: 15px;
      margin-right: 20px; } }
  .nav-secondary__content__logo a {
    align-items: center;
    display: flex;
    height: 100%;
    width: 161px; }
    @media only screen and (max-width: 950px) {
      .nav-secondary__content__logo a {
        width: 85px; } }
  .nav-secondary__content__logo a img {
    width: 70%; }
    @media only screen and (max-width: 950px) {
      .nav-secondary__content__logo a img {
        width: 100%; } }

.nav-secondary__content__links {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;
  width: 50%; }
  @media only screen and (max-width: 1100px) {
    .nav-secondary__content__links {
      width: 60%; } }
  @media only screen and (max-width: 1000px) {
    .nav-secondary__content__links {
      width: 75%; } }
  @media only screen and (max-width: 950px) {
    .nav-secondary__content__links {
      width: 100%; } }

.nav-secondary__content__link {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 6px 0 5px 0;
  position: relative; }
  .nav-secondary__content__link .first {
    white-space: nowrap; }
  @media only screen and (max-width: 1024px) {
    .nav-secondary__content__link {
      display: none; } }
  .nav-secondary__content__link a {
    color: #0065e3;
    font-size: 14px; }
  .nav-secondary__content__link .top-link {
    border-bottom: 2px solid transparent;
    padding: 5px 3px 3px 3px; }
  .nav-secondary__content__link .default-cursor {
    cursor: default; }

.nav-secondary-link .top-link, .nav-secondary-link span {
  color: #1d1d1d;
  font-size: 14px;
  height: 100%;
  padding-left: 3px;
  padding-right: 3px;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 2; }

.nav-secondary__content__link__menu {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.28);
  display: none;
  flex-direction: column;
  left: -15px;
  max-width: 220px;
  min-width: 120px;
  padding: 10px 15px;
  position: absolute;
  top: 35px;
  transition: 150ms ease-in-out;
  z-index: 2;
  width: 100%; }

.nav-secondary__search {
  align-items: center;
  display: flex;
  height: 100%;
  margin-right: 40px;
  padding: 8px; }
  .nav-secondary__search ::before, .nav-secondary__search ::after {
    box-sizing: border-box; }
  @media only screen and (max-width: 1024px) {
    .nav-secondary__search {
      margin-right: 0; } }
  .nav-secondary__search img {
    height: 20px;
    margin-right: 10px;
    width: 20px; }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale; }

.mobile-menu {
  display: none !important; }
  @media only screen and (max-width: 1024px) {
    .mobile-menu {
      display: block !important;
      font-size: 32px !important;
      margin-left: 0;
      margin-right: 10px;
      padding: 8px; } }

.nav-secondary__mobile-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  position: absolute;
  top: 25px;
  width: calc(100% - 50px); }
  .nav-secondary__mobile-top span .close {
    font-size: 32px; }

.nav-secondary__mobile-link-group .active {
  background-color: #ffc40c;
  bottom: 0;
  display: block;
  overflow-y: scroll;
  padding-top: 75px;
  position: absolute;
  right: 0;
  top: -12px;
  width: 100%;
  z-index: 2; }

.nav-secondary__mobile-link {
  display: none;
  padding: 10px 25px;
  position: relative; }
  .nav-secondary__mobile-link a .top-link {
    border-bottom: 2px solid transparent;
    padding: 5px 3px 3px 3px; }
    .nav-secondary__mobile-link a .top-link i {
      font-size: 36px !important;
      vertical-align: middle;
      float: right; }

.nav-secondary__mobile-link__menu {
  padding: 10px 15px 0;
  transition: 150ms ease-in-out; }

.nav-secondary__mobile__primary-link-group {
  border-top: 1px solid rgba(242, 242, 242, 0.4);
  margin: 0 auto;
  padding: 10px;
  display: none;
  width: calc(95% - 20px); }

a .mobile-menu-link {
  color: #000000;
  display: block;
  margin: 0;
  padding: 10px 0;
  text-decoration: none;
  white-space: nowrap;
  width: 100%; }

.footer__container {
  max-width: 1440px; }

footer .row {
  align-items: center;
  display: flex;
  width: 100%; }
  @media only screen and (max-width: 900px) {
    footer .row {
      flex-direction: column;
      padding: 40px 20px 0; } }
  @media only screen and (max-width: 920px) {
    footer .row {
      display: block; } }
  @media only screen and (max-width: 600px) {
    footer .row {
      padding: 40px 35px 0 !important; } }
  @media only screen and (max-width: 1100px) and (min-width: 921px) {
    footer .row {
      display: block !important;
      padding: 40px 0px 0 !important; } }

.footer__links {
  display: flex;
  flex: 0 0 50%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 70px;
  padding-top: 40px; }

.footer__links-left {
  display: flex;
  flex: 0 0 30%;
  padding-left: 70px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 70px;
  padding-top: 40px;
  min-width: 33%; }
  @media only screen and (max-width: 900px) {
    .footer__links-left {
      flex: 0 0 100%;
      margin: 0 0 20px;
      padding-top: 0;
      width: calc(100% - 140px); } }
  @media only screen and (max-width: 900px) {
    .footer__links-left {
      flex: 0 0 75%;
      justify-content: space-between;
      margin: 0 0 20px;
      min-width: 75%;
      padding-left: 0; } }
  @media only screen and (max-width: 600px) {
    .footer__links-left {
      display: block;
      margin: 0;
      width: 100%; } }
  @media only screen and (max-width: 1170px) {
    .footer__links-left {
      flex: 0 0 25%;
      margin-right: 20px;
      min-width: 25%; } }

.footer__links-container {
  display: flex;
  flex-direction: column;
  padding: 0 5px; }
  @media only screen and (max-width: 475px) {
    .footer__links-container {
      width: 100%; } }
  @media only screen and (max-width: 900px) {
    .footer__links-container {
      margin-bottom: 20px; } }

.footer__links-container-group {
  display: block;
  flex-direction: column; }
  .footer__links-container-group :first-child {
    margin-bottom: 15px; }
  .footer__links-container-group span {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
    color: black; }
  .footer__links-container-group a {
    display: block;
    position: relative;
    bottom: 10px;
    color: #1d1d1d !important;
    font-size: 14px !important;
    margin: 3px 0;
    text-decoration: none;
    line-height: 1.25 !important; }

.footer__logo {
  padding: 40px 50px 20px 0; }
  @media only screen and (max-width: 600px) {
    .footer__logo {
      padding: 0 50px 20px 0px !important; } }

.footer__contact-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: #1d1d1d;
  padding: 20px 0; }
  @media only screen and (max-width: 575px) {
    .footer__contact-info {
      display: block;
      padding: 0; } }
  @media only screen and (max-width: 600px) {
    .footer__contact-info {
      margin: 0 auto; } }

.footer__label {
  font-family: ars-maquette-web,sans-serif;
  font-size: 14px;
  margin: auto; }

.footer__text {
  font-family: ars-maquette-web, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none; }
  @media only screen and (max-width: 625px) {
    .footer__text {
      font-size: 16px; } }

.contact-details {
  display: flex;
  flex-direction: column;
  flex: auto !important;
  min-width: 50%; }
  @media only screen and (max-width: 900px) {
    .contact-details {
      display: block;
      width: 100%;
      flex-direction: column; } }

.contact {
  margin: 10px 5px; }
  .contact :first-child {
    margin-top: 0; }

.footer__bottom-info {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0 70px; }
  @media only screen and (max-width: 600px) {
    .footer__bottom-info {
      padding: 0 20px; } }
  @media only screen and (max-width: 800px) {
    .footer__bottom-info {
      display: block;
      flex-direction: column; } }
  @media only screen and (max-width: 1024px) {
    .footer__bottom-info {
      padding: 0 50px; } }

.footer__bottom-info-menu {
  flex: 0 0 76%;
  margin-top: 20px;
  min-width: 76%; }
  @media only screen and (max-width: 600px) {
    .footer__bottom-info-menu {
      margin-top: 0; } }
  @media only screen and (max-width: 900px) {
    .footer__bottom-info-menu {
      padding: 0 20px;
      width: calc(100% - 40px); } }
  @media only screen and (max-width: 920px) {
    .footer__bottom-info-menu {
      flex: 0 0 100%;
      min-width: 100%; } }

.footer__menu {
  display: flex;
  flex-wrap: wrap; }

.footer__menu-item {
  color: #000000;
  display: inline-block;
  font-size: 14px;
  font-weight: lighter;
  padding-right: 5px;
  padding-top: 5px; }

.copyright {
  margin-top: 10px; }

.footer__icon-block {
  display: flex;
  flex: 0 0 20%;
  justify-content: space-around;
  margin-left: auto;
  min-width: 20%;
  padding-bottom: 20px; }
  @media only screen and (max-width: 575px) {
    .footer__icon-block {
      flex: 0 0 100%;
      margin: 20px 0;
      min-width: 100%;
      width: calc(100% - 40px); } }
  @media only screen and (max-width: 900px) {
    .footer__icon-block {
      margin: 20px auto;
      width: 50%; } }
  @media only screen and (max-width: 920px) {
    .footer__icon-block {
      flex: 0 0 50%;
      margin: 20px auto;
      min-width: 50%; } }

.c-hero {
  height: 500px;
  display: table;
  width: 100%;
  font-family: ars-maquette-web, sans-serif;
  color: #000000; }
  .c-hero .c-hero__wrapper {
    display: table-cell;
    font-family: ars-maquette-web, sans-serif;
    font-size: 34px;
    padding-left: 14%;
    position: relative;
    vertical-align: middle; }
  .c-hero .c-hero__title {
    color: #000000;
    font-family: ars-maquette-web, sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 12px;
    margin-top: .9em;
    text-shadow: none;
    display: block; }
  .c-hero .c-hero__subtitle {
    color: black;
    font-family: ars-maquette-web, sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 21px;
    margin-top: .5em;
    text-shadow: none; }
  .c-hero .c-hero__card-group {
    align-items: center;
    display: flex;
    font-family: ars-maquette-web, sans-serif;
    font-size: 34px;
    justify-content: space-between;
    width: 475px; }
  .c-hero .c-hero__card {
    font-family: ars-maquette-web, sans-serif;
    font-size: 34px;
    margin-bottom: 21px;
    max-width: 510px;
    width: 237px; }
  .c-hero .c-hero__card__label {
    color: black;
    display: block;
    font-family: ars-maquette-web, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-shadow: none;
    text-transform: uppercase; }
  .c-hero .c-hero__card__main {
    align-items: flex-start;
    display: flex;
    font-family: ars-maquette-web, sans-serif;
    font-size: 34px;
    padding-top: 16px;
    position: relative; }
  .c-hero .c-hero__card__price {
    color: #10ace3;
    display: block;
    font-family: "Conduit Light", sans-serif;
    font-size: 111px;
    font-weight: 400;
    text-shadow: none; }
  .c-hero .c-hero__card__details {
    color: #58595b;
    font-family: ars-maquette-web, sans-serif;
    font-size: 34px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 22px; }
    .c-hero .c-hero__card__details .c-hero__card__cents {
      color: #10ace3;
      display: block;
      font-family: ars-maquette-web, sans-serif;
      font-size: 24px;
      font-weight: 400;
      text-align: left;
      text-shadow: none; }
    .c-hero .c-hero__card__details .c-hero__card__month {
      color: #10ace3;
      display: flex;
      font-family: "Conduit Light", sans-serif;
      font-size: 20.4px;
      margin-bottom: 3px;
      text-shadow: none;
      text-transform: uppercase;
      white-space: nowrap; }
  .c-hero .c-hero__card__disclaimer {
    bottom: 20px;
    color: black;
    display: block;
    font-family: ars-maquette-web, sans-serif;
    font-size: 11px;
    font-weight: 200;
    letter-spacing: 0.6px;
    margin-left: 5px;
    min-width: 220px;
    text-shadow: none; }
  .c-hero .hero__button__wrapper {
    display: flex;
    width: 100%; }
    @media only screen and (max-width: 600px) {
      .c-hero .hero__button__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }

.type_singlePriceTwoButtons {
  background-image: url("https://via.placeholder.com/1717x500");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 500px;
  padding: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: 50% 50%;
  background-position-x: 50%;
  background-position-y: 50%; }
  .type_singlePriceTwoButtons .hero__button {
    font-weight: 600 !important;
    width: 225px !important; }

.whwf-hero {
  background-image: url("https://via.placeholder.com/2558x1282");
  background-position: 100% 100%;
  background-position-x: 100%;
  background-position-y: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: ars-maquette-web, sans-serif;
  min-height: 820px;
  position: relative;
  color: #ffffff; }
  .whwf-hero::after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
  @media only screen and (max-width: 1280px) {
    .whwf-hero {
      min-height: 820px; } }
  .whwf-hero h1, .whwf-hero h2 {
    font-size: 32px; }
  .whwf-hero p {
    font-size: 13px;
    font-weight: 200;
    letter-spacing: 0.5px;
    margin-top: 10px;
    max-width: 80%; }

.whwf-hero__content {
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  padding: 80px 400px 80px 24px; }
  @media only screen and (max-width: 1280px) {
    .whwf-hero__content {
      padding: 64px 320px 48px 24px; } }
  @media only screen and (max-width: 800px) {
    .whwf-hero__content {
      padding: 48px 32px; } }
  @media only screen and (max-width: 600px) {
    .whwf-hero__content {
      padding: 48px 18px; } }

.whwf-hero__pricing {
  color: #ffffff;
  font-family: inherit; }
  @media only screen and (min-width: 824px) {
    .whwf-hero__pricing {
      display: flex;
      margin-top: 24px; } }

.whwf-hero__pricing-item {
  margin-top: 32px;
  position: relative; }
  .whwf-hero__pricing-item::before:not(.whwf-hero__pricing-item::before:first-child) {
    content: '+';
    position: absolute;
    font-size: 3.2em; }
  @media only screen and (min-width: 825px) {
    .whwf-hero__pricing-item::before {
      top: 40px;
      left: -46px; } }
  @media only screen and (max-width: 824px) {
    .whwf-hero__pricing-item::before {
      top: -70px; } }
  .whwf-hero__pricing-item .whwf-hero__pricing__title {
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    max-width: none;
    white-space: nowrap;
    letter-spacing: 0.5px; }
  .whwf-hero__pricing-item .whwf-hero__pricing__price {
    font-size: 53.6px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    max-width: 80%; }
  .whwf-hero__pricing-item .whwf-hero__pricing__details {
    display: block;
    font-size: 12px;
    text-transform: uppercase; }
  .whwf-hero__pricing-item .whwf-hero__pricing__details span {
    white-space: nowrap;
    display: block; }
  .whwf-hero__pricing-item ul {
    font-size: 11.2px;
    margin-bottom: 0px;
    margin-left: 18px;
    margin-right: 0px;
    margin-top: 12px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px; }
  .whwf-hero__pricing-item li {
    font-weight: 200;
    letter-spacing: 0.5px; }
  .whwf-hero__pricing-item ::after {
    box-sizing: border-box; }

.whwf-slice__pricing {
  display: flex;
  margin-top: 24px; }

.whwf-slice-pricing-buttons {
  display: flex;
  margin-top: 48px; }
  @media only screen and (max-width: 600px) {
    .whwf-slice-pricing-buttons {
      justify-content: space-between; } }
  .whwf-slice-pricing-buttons button {
    border: none;
    flex: 0 0 180px;
    height: 48px;
    box-sizing: border-box;
    padding: 0 30px;
    align-items: center;
    justify-content: center;
    font-size: .9em;
    border-radius: 3px;
    cursor: pointer; }
    @media only screen and (max-width: 600px) {
      .whwf-slice-pricing-buttons button {
        margin: 0;
        flex: 0 1;
        flex-basis: 0%;
        flex-basis: calc(50% - 6px);
        padding: 0 8px;
        font-size: .75em; } }

.wow-hero {
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: center;
  padding-bottom: 52px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 52px; }
  @media only screen and (max-width: 1024px) {
    .wow-hero {
      padding: 52px 25px; } }

.wow-hero__content {
  width: 966px;
  text-align: center; }
  .wow-hero__content h2 {
    font-size: 42px;
    font-weight: 300;
    line-height: 50px;
    margin-top: 0; }
    @media only screen and (max-width: 800px) {
      .wow-hero__content h2 {
        font-size: 32px !important;
        line-height: 38px; } }
  .wow-hero__content p {
    font-weight: 200;
    letter-spacing: .5px;
    font-size: 14px;
    line-height: 21px; }

.location-modal {
  padding: 40px 30px;
  width: 425px; }
  .location-modal img {
    width: 70px; }
    .location-modal img :not(.modal-close) {
      width: 70px; }
  @media only screen and (max-width: 800px) {
    .location-modal {
      width: 80%; } }

.locations {
  display: flex;
  flex-direction: column; }

.location {
  align-items: flex-start;
  display: flex;
  flex-direction: column; }

.state {
  font-size: 14px;
  font-weight: 600;
  margin: 15px 0 5px; }

.city {
  color: #0065e3;
  font-size: 14px;
  font-weight: 100; }

.c-card-section {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
  justify-content: center; }

.offer-details {
  font-size: 12px;
  font-weight: 600;
  margin-left: 25px; }

.offer-details:nth-child(2) {
  margin-left: 0; }

#OfferCards {
  margin-bottom: 100px;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
  justify-content: center;
  background-color: #e9e9e9;
  left: 0;
  right: 0;
  max-width: 100%;
  padding-bottom: 100px;
  padding-top: 40px; }

@media only screen and (max-width: 1170px) {
  #OfferCards .e-card {
    box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.16), 0 1px 0 rgba(0, 0, 0, 0.05); }
  #OfferCards .e-card .e-card-special-offer.empty {
    height: 0;
    margin-top: 35px; } }

#OfferCards .c-card-section {
  max-width: 1190px; }

#OfferCards .c-card-section .e-card {
  width: 290px;
  height: initial !important;
  background-color: #fff;
  max-width: 290px;
  position: relative;
  max-height: 1065px !important;
  margin: 30px 5px 20px 2px; }

#OfferCards .e-card:last-of-type {
  box-shadow: 0 -3px 20px rgba(0, 0, 0, 0.16), 0 1px 0 rgba(0, 0, 0, 0.05);
  z-index: 1; }

#OfferCards .c-card-section .e-card-top {
  border-left: .5px solid #e5e5ea;
  border-right: .5px solid #e5e5ea;
  padding: 20px 20px 18px; }

#OfferCards .c-card-section .e-card-special-offer {
  display: flex;
  color: #fff;
  height: 35px;
  justify-content: center;
  border: none;
  width: 100%; }

#OfferCards .c-card-section .e-card-special-offer.empty {
  background-color: #e9e9e9; }

#OfferCards .c-card-section .e-card-special-offer .fas,
#OfferCards .c-card-section .e-card-special-offer span {
  margin-top: 8px;
  margin-left: 0; }

#OfferCards .c-card-section .e-banner_gold {
  background-color: #f06634; }

#OfferCards .c-card-section .e-card-top-social {
  display: flex;
  justify-content: center;
  margin-left: -20px;
  width: calc(100% + 40px);
  padding: 0 10px 10px;
  box-sizing: border-box;
  margin-bottom: 0;
  display: flex; }

#OfferCards .c-card-section .e-card-top-social .optSocialIconWrap {
  text-align: center;
  font-size: 14px;
  flex: 1; }

#OfferCards .social-icon,
#OfferCards .social-icon:first-child,
#OfferCards .social-icon:nth-child(2),
#OfferCards .social-icon:last-child {
  *background-color: #58595B;
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 32px;
  justify-content: center;
  margin-right: 10px;
  width: 32px;
  margin: 5px auto;
  color: #fff; }

#OfferCards .social-icon.wifi {
  background: #10ace3; }

#OfferCards .social-icon.desktop_windows {
  background-color: #c62328; }

#OfferCards .social-icon.call {
  background-color: #ffc40c; }

#OfferCards .c-card-section .e-card-special-offer em {
  margin: 0;
  margin-right: 5px;
  font-size: 16px; }

#OfferCards e-card-top-info,
#OfferCards .top-info-detail-link {
  display: none; }

#OfferCards .c-card-section .c-pricing_card {
  max-width: 510px;
  margin-bottom: 21px;
  border-top: 0 !important;
  padding-top: 0 !important; }

#OfferCards .c-card-section .c-pricing_card-main--offer {
  display: flex;
  justify-content: center; }

#OfferCards .c-card-section .c-pricing_card-main--offer .c-pricing-dollar {
  color: #1d1d1d;
  font-family: conduit light,sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 54px; }

#OfferCards .c-pricing_card-main--offer .c-pricing-month {
  display: none; }

#OfferCards .c-card-section .c-pricing_card-main--offer .c-pricing-details {
  color: #58595b;
  padding: 5px; }

#OfferCards .c-card-section .c-pricing-disclaimer {
  color: #58595b;
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
  font-weight: 100;
  margin-left: -7px;
  margin-right: -7px; }

#OfferCards .c-card-section .e-card-top a .btn--blue__outline {
  height: 45px;
  background-color: #0065e3;
  border-radius: 3px;
  color: #fff;
  letter-spacing: .5px;
  font-weight: 600;
  width: 100%;
  font-size: 15px;
  max-width: none; }

#OfferCards .c-card-section .optTextUnderCTA {
  margin-top: 20px;
  min-height: 100px;
  font-size: 14px; }

#OfferCards .c-card-section .optCardBody {
  padding: 0 20px 20px;
  border-bottom: 1px solid #e5e5ea; }

#OfferCards .c-card-section .optCardBody .streaming-partners-logos {
  position: absolute; }

#OfferCards .c-card-section .optCardBody h4 {
  font-weight: 700 !important;
  font-size: 16px; }

#OfferCards .c-card-section .optCardBody .optCheckItem,
#OfferCards .optCardBody .optBulletItem {
  padding: 5px 0;
  font-size: 13px;
  position: relative;
  padding-left: 15px;
  *white-space: nowrap; }

#OfferCards .c-card-section .optCardBody1 .optCheckItem {
  padding-left: 0; }

#OfferCards .c-card-section .optCardBody1 img {
  width: 100%; }

#OfferCards .c-card-section .optCardBody1 span.optTVSize {
  display: initial; }

#OfferCards .c-card-section .optCardBody .optCheckItem:before {
  content: "\f00c";
  font-weight: 700;
  font-family: "font awesome\ 5 free";
  font-size: 12px; }

#OfferCards .c-card-section .optCardBody .optBulletItem:before {
  content: "\f111";
  font-weight: 700;
  font-family: "font awesome\ 5 free";
  font-size: 7px;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 10px; }

#OfferCards .c-card-section .e-card-dropdown {
  padding: 10px 20px;
  background-color: #fff; }

#OfferCards .c-card-section .e-card-dropdown.active {
  color: #fff;
  background-color: #0065e3; }

#OfferCards .c-card-section .e-card-dropdown .e-card-dropdown-title {
  display: flex;
  color: #0065e3;
  font-weight: 400; }

#OfferCards .c-card-section .e-card-dropdown.active .e-card-dropdown-title {
  color: #fff;
  font-weight: 700; }

#OfferCards .c-card-section .e-card-dropdown .e-card-dropdown-title span {
  font-size: 14px; }

#OfferCards .c-card-section .e-card-dropdown .e-card-dropdown-title i {
  margin-right: 0;
  margin-left: 0;
  position: absolute;
  right: 20px; }

#OfferCards #OfferDetails.active-1 strong {
  font-size: 16px; }

#OfferCards #OfferDetails.active-1 {
  display: block;
  background-color: #0065e3;
  color: #fff;
  z-index: 2;
  position: relative;
  margin-left: -3px;
  *margin-top: -2px;
  width: 1180px; }

#OfferCards .e-card-dropdown-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0;
  padding: 20px 35px; }

#OfferCards .e-card-dropdown-info .dropdown-info-details {
  flex: none;
  width: 100%;
  padding: 0 20px; }

#OfferCards .dropdown-info-details {
  flex: none;
  width: 100%; }

#OfferCards .detailsTopCTA {
  padding: 30px 0; }

#OfferCards .e-card-dropdown-additional {
  display: flex;
  flex-direction: column;
  margin: 0 15px !important; }

#OfferCards .toggleDetailsView {
  cursor: pointer; }

#OfferCards .toggleDetailsArrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  display: inline-block;
  cursor: pointer; }

#OfferCards .toggleDetailsArrow.arrow-up {
  border-bottom: 10px solid #fff; }

#OfferCards .toggleDetailsArrow.arrow-down {
  border-top: 10px solid #fff; }

#OfferCards .e-card-dropdown-additional span {
  padding: 0 35px 0 15px; }

#OfferCards .e-card-price-detail-list {
  display: none;
  border-left: .5px solid #e5e5ea;
  border-right: .5px solid #e5e5ea; }

#OfferCards .e-card-dropdown-details {
  background-color: #0065e3;
  color: #fff;
  position: absolute;
  width: calc(400% + 20px); }

#OfferCards .e-card-dropdown-details.active-1 {
  left: 0;
  display: block; }

#OfferCards .e-card-dropdown-details.active-2 {
  left: calc(-100% - 7px);
  display: block; }

#OfferCards .e-card-dropdown-details.active-3 {
  left: calc(-200% - 13px);
  display: block; }

#OfferCards .e-card-dropdown-details.active-4 {
  left: calc(-300% - 20px);
  display: block; }

#OfferCards #OfferDetails.dropdown-info-details li {
  width: unset; }

#OfferCards .detailsHeader {
  font-size: 17px; }

#OfferCards .e-card-dropdown-info span {
  text-align: left; }

#OfferCards ul.additional {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 30px; }

#OfferCards .arrows.fixedArrow {
  position: fixed; }

#OfferCards .dropdown-info-details li {
  width: 100% !important; }

#OfferCards .bottomCTA {
  padding: 0 0 30px 50px; }

#OfferCards .e-card a.features-all-channels {
  margin-right: 2%;
  width: 40%; }

#OfferCards .e-card a.features-all-channels,
#OfferCards .e-card a.features-compare-packages {
  background: #10ace4;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  font-weight: 700;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none; }

#OfferCards .e-card a.features-all-channels:focus,
#OfferCards .e-card a.features-compare-packages:focus {
  color: #fff !important; }

#OfferCards.three .e-card-dropdown-details {
  width: calc(300% + 15px); }

#OfferCards.three .e-card.e-card_4 {
  margin-top: 40px; }

#OfferCards.three .e-card-dropdown-details.active-2 {
  left: calc(-101%);
  display: block;
  margin-left: -5px;
  display: block; }

#OfferCards.three .e-card-dropdown-details.active-3 {
  left: calc(-200% - 15px);
  display: block; }

#OfferCards.three .e-card-dropdown-details.active-4 {
  left: calc(-103%); }

#OfferCards.threeInRow .e-card-dropdown-details {
  width: calc(300% + 15px); }

#OfferCards.threeInRow .e-card-dropdown-details.active-2 {
  left: calc(-101%);
  display: block;
  margin-left: -5px;
  display: block; }

#OfferCards.threeInRow .e-card-dropdown-details.active-3 {
  left: calc(-200% - 15px);
  display: block; }

#OfferCards.two .c-card-section .e-card {
  margin-bottom: 60px; }

#OfferCards.two .e-card-dropdown-details {
  width: calc(200% + 8px); }

#OfferCards.twoTopOneBottom .e-card-dropdown-details {
  width: calc(200% + 8px); }

#OfferCards.twoTopOneBottom .e-card-dropdown-details.active-3 {
  left: calc(-50%);
  display: block; }

#OfferCards.twoTopOneBottom .e-card-dropdown-details.active-2 {
  left: calc(-100% - 7px);
  display: block; }

#OfferCards.twoTopOneBottom .c-card-section .e-card {
  margin-bottom: 60px; }

@media only screen and (width: 768px) and (orientation: portrait) {
  #OfferCards.twoTopOneBottom .e-card-dropdown-details.active-2 {
    left: -4px;
    display: block; }
  #OfferCards.twoTopOneBottom .e-card-dropdown-details.active-2 {
    left: -4px;
    display: block; }
  #OfferCards.twoTopOneBottom .e-card-dropdown-details.active-3 {
    left: calc(50%);
    display: block; } }

@media only screen and (max-width: 767px) and (orientation: landscape) {
  #OfferCards.twoTopOneBottom .e-card-dropdown-details.active-2 {
    left: -4px;
    display: block; }
  #OfferCards.twoTopOneBottom .e-card-dropdown-details.active-2 {
    left: -4px;
    display: block; }
  #OfferCards.twoTopOneBottom .e-card-dropdown-details.active-3 {
    left: calc(50%);
    display: block; } }

#OfferCards.twoInRow .c-card-section .e-card {
  margin-bottom: 60px; }

#OfferCards.twoInRow .e-card-dropdown-details {
  width: calc(200% + 8px); }

#OfferCards.two .e-card-dropdown-details.active-2 {
  left: calc(-4px); }

#OfferCards.two .e-card-dropdown-details.active-3 {
  left: calc(100% + 4px) !important; }

#OfferCards.two .e-card-dropdown-details.active-4 {
  left: calc(-4px); }

@media only screen and (height: 375px) and (width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  #OfferCards.two .e-card-dropdown-details.active-2 {
    left: calc(-100% + -8px); }
  #OfferCards.two .e-card-dropdown-details.active-3 {
    left: calc(0%) !important; }
  #OfferCards.two .e-card-dropdown-details.active-4 {
    left: calc(-100% + -8px); } }

@media (max-width: 575px) and (orientation: portrait) {
  .c-offer {
    margin-bottom: 0; }
  #OfferCards {
    display: block;
    padding-bottom: 0 !important; }
  #OfferCards .c-card-section .slick-list.draggable {
    padding: 0 !important; }
  #OfferCards .c-card-section .e-card {
    margin-left: 60px;
    margin-right: 60px; }
  #OfferCards .slick-dots {
    display: block;
    background: #fff;
    position: relative;
    padding: 5px 0;
    bottom: 0; }
  #OfferCards #DotIndicators {
    background: #fff;
    width: 100%;
    margin-top: 30px; }
  #OfferCards #OfferDetails {
    margin-top: -3px;
    margin-left: 60px !important; }
  #OfferCards i.fas.fa-chevron-left.slick-arrow {
    padding-right: 0; }
  #OfferCards i.fas.fa-chevron-right.slick-arrow {
    padding-left: 0; }
  #OfferCards .c-card-section.slick-initialized {
    margin-bottom: 0; }
  #OfferDetails a {
    padding-bottom: 30px; }
  #OfferCards .bottomCTA {
    padding: 0 0 30px 21px; }
  .o-button_gold-lg {
    max-width: 190px; } }

@media (max-width: 520px) {
  #OfferDetails .optCardBody1 a.features-all-channels,
  #OfferDetails .optCardBody1 a.features-compare-packages {
    display: block;
    margin-bottom: 5px;
    width: 100% !important; } }

@media (max-width: 410px) and (min-width: 361px) and (orientation: portrait) {
  #OfferCards .c-card-section .e-card {
    margin-left: 45px;
    margin-right: 45px; }
  #OfferCards #OfferDetails {
    margin-left: 45px !important; } }

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  #OfferCards .c-card-section .e-card {
    margin-left: 45px;
    margin-right: 45px; } }

@media (max-width: 320px) and (orientation: portrait) {
  .o-button_gold-lg {
    max-width: 150px; } }

@media (max-width: 360px) and (orientation: portrait) {
  #OfferCards .c-card-section .optCardBody .streaming-partners-logos img {
    max-width: 90%; } }

.wifi-selection-section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 65px 100px;
  max-width: 1440px; }
  @media only screen and (max-width: 600px) {
    .wifi-selection-section {
      padding: 48px 25px; } }
  @media only screen and (max-width: 725px) {
    .wifi-selection-section {
      display: block; } }
  @media only screen and (max-width: 1030px) {
    .wifi-selection-section {
      padding: 50px 50px; } }

.wifi-selection-carousel {
  padding-bottom: 25px;
  position: relative;
  width: 50%; }
  @media only screen and (max-width: 725px) {
    .wifi-selection-carousel {
      width: 100%; } }
  @media only screen and (max-width: 930px) {
    .wifi-selection-carousel {
      margin-bottom: 15px; } }

.carousel-img {
  display: none; }
  .carousel-img .active {
    display: block; }
  .carousel-img img {
    width: 100%; }

.wifi-selection-carousel-indication {
  bottom: 0;
  display: flex;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 96px; }

.carousel-indication {
  border: 1px solid #e5e5ea;
  border-top-color: #bcbcbc;
  border-right-color: #bcbcbc;
  border-bottom-color: #bcbcbc;
  border-left-color: #bcbcbc;
  border-radius: 50%;
  height: 12px;
  margin: 0 9px;
  width: 12px; }
  .carousel-indication .active {
    border-color: #58595b;
    background-color: #58595b; }

.wifi-selection {
  background-color: #ffffff;
  margin: 18px 0 30px 0;
  max-width: 325px;
  border: 1px solid #ffffff;
  border-radius: 3px; }
  @media only screen and (max-width: 725px) {
    .wifi-selection {
      margin: 18px auto 30px auto;
      width: 100%; } }

.wifi-selection-row-content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;
  padding: 6px 20px;
  box-sizing: border-box; }

.wifi-selection-row .wifi-pricing {
  display: flex;
  flex-direction: column;
  min-width: 112px; }
  .wifi-selection-row .wifi-pricing .price-label {
    color: #e5e5ea;
    font-size: 10px;
    font-weight: 200;
    text-transform: uppercase;
    white-space: nowrap; }
  .wifi-selection-row .wifi-pricing .price {
    font-size: 20px;
    font-weight: 200;
    white-space: nowrap; }
    @media only screen and (max-width: 600px) {
      .wifi-selection-row .wifi-pricing .price {
        font-size: 16px; } }

.wifi-price-separator {
  margin: 0 4px;
  display: block; }

.wifi-selection-content {
  display: flex;
  flex: 0 0 45%;
  flex-direction: column;
  min-width: 45%; }
  @media only screen and (max-width: 725px) {
    .wifi-selection-content {
      margin: 0 auto;
      max-width: 376px; } }

.wifi-selection-title {
  font-size: 20px;
  font-weight: 600; }

.wifi-selection-info {
  font-size: 14px;
  font-weight: 200;
  margin: 5px 0 0; }

.streaming-partners h2 {
  font-size: 32px;
  line-height: 46px;
  margin-top: 75px;
  padding: 0 25px; }

.streaming-partners p {
  max-width: 960px;
  margin: 0 auto 80px;
  padding: 0 25px;
  font-size: .95em; }

.streaming-partners-table {
  background: #fff;
  padding: 15px;
  max-width: 1050px;
  margin: 32px auto; }
  .streaming-partners-table *, .streaming-partners-table::before, .streaming-partners-table::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  @media only screen and (max-width: 767px) {
    .streaming-partners-table {
      display: none; } }
  .streaming-partners-table a {
    text-decoration: none; }
  .streaming-partners-table .partner-row {
    display: flex;
    min-height: 100px;
    padding: 0; }
    .streaming-partners-table .partner-row .column {
      display: flex;
      flex-basis: 20%;
      flex-direction: column;
      border-right: 1px solid #58595b;
      padding: 30px 20px; }
      .streaming-partners-table .partner-row .column p {
        font-size: .875rem; }
      .streaming-partners-table .partner-row .column:first-child {
        text-align: right;
        justify-content: flex-start;
        padding-right: 20px; }
    .streaming-partners-table .partner-row .partner-link {
      align-items: center; }
      .streaming-partners-table .partner-row .partner-link img {
        max-width: 125px; }

.streaming-partner-channels {
  color: #0065e3;
  cursor: pointer; }

.streaming-partners-table span {
  display: inline-block; }

.streaming-partners-table :nth-child(2n) {
  background: #e5e5ea; }

.phone-int-rates {
  position: relative; }

.phone-int-rates-container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 35vw; }

.phone-int-rates-image {
  position: relative;
  background-image: url("");
  background-repeat: no-repeat; }
  @media only screen and (min-width: 801px) {
    .phone-int-rates-image {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 50%;
      background-size: cover; }
      .phone-int-rates-image ::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 18vw;
        background-image: linear-gradient(to left, #fff 20%, transparent); }
      .phone-int-rates-image ::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 120px;
        background-image: linear-gradient(transparent, #fff); } }
  @media only screen and (max-width: 800px) {
    .phone-int-rates-image {
      height: 67vw;
      background-size: cover; }
      .phone-int-rates-image ::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 18vw;
        background-image: linear-gradient(to left, #fff 20%, transparent); }
      .phone-int-rates-image ::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 120px;
        background-image: linear-gradient(transparent, #fff); } }

.phone-int-rates-content {
  position: relative;
  box-sizing: border-box; }
  .phone-int-rates-content h2 {
    font-size: 48px;
    margin-top: inherit;
    font-weight: normal; }
  .phone-int-rates-content p {
    font-weight: 400;
    font-size: .9rem;
    line-height: 1.6em; }
  .phone-int-rates-content .button-select {
    position: relative;
    z-index: 4;
    display: inline-block; }
    .phone-int-rates-content .button-select select {
      padding-right: 15px; }
    .phone-int-rates-content .button-select ::after {
      content: '+';
      background-image: url(/assets/img/chevron-white.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right center;
      width: 12px;
      height: 12px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 14px;
      margin: auto;
      transition: transform .15s ease-out; }
  .phone-int-rates-content option {
    background-color: white;
    color: black; }
  @media only screen and (min-width: 801px) {
    .phone-int-rates-content {
      padding: 100px 64px 300px 24px;
      flex: 0 0 50%;
      max-width: 50%;
      margin-left: auto; } }
  @media only screen and (max-width: 800px) {
    .phone-int-rates-content {
      padding: 48px 24px; } }

.section-subheader {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase; }

.phone-int-rates-tables {
  margin-top: 18px; }
  @media only screen and (min-width: 801px) {
    .phone-int-rates-tables {
      position: absolute;
      right: 24px;
      left: 24px;
      max-height: 320px;
      overflow-y: auto; } }
  @media only screen and (max-width: 800px) {
    .phone-int-rates-tables {
      width: 100%; } }
  .phone-int-rates-tables table {
    display: none;
    font-size: .8rem;
    background-color: #fff;
    width: 100%; }
  .phone-int-rates-tables tbody tr:first-child td {
    border-top: 1px solid #eaeaea; }
  .phone-int-rates-tables td, .phone-int-rates-tables th {
    height: 40px;
    padding: 0 24px;
    box-sizing: border-box;
    border-spacing: 0;
    margin: 0;
    border-collapse: collapse; }
  .phone-int-rates-tables td {
    border-bottom: 1px solid #eaeaea; }
    .phone-int-rates-tables td :first-child {
      border-left: 1px solid #eaeaea; }

module-faq-list {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin: 50px auto; }
  module-faq-list ::after {
    content: " ";
    display: block;
    clear: both; }
  module-faq-list h3 {
    font-size: 18.72px;
    margin-top: inherit;
    text-transform: lowercase; }
  module-faq-list .faq-toolbar {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px; }
    module-faq-list .faq-toolbar ::after {
      content: " ";
      display: block;
      clear: both; }
  module-faq-list .toolbar-split {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    text-align: left; }
  module-faq-list .select-wrapper {
    position: relative;
    max-width: 240px;
    width: 100%;
    border: 1px solid #a1a1a1;
    border-radius: 3px;
    margin-bottom: 5px;
    overflow: hidden; }
    module-faq-list .select-wrapper::after {
      content: '';
      display: block;
      position: absolute;
      right: 8px;
      top: 20px;
      width: 10px;
      height: 6px;
      background-image: url();
      background-repeat: no-repeat;
      background-size: 100%;
      pointer-events: none; }
  module-faq-list h4 {
    font-family: nunito sans,sans-serif;
    font-size: 15px;
    text-transform: lowercase; }
  module-faq-list p {
    margin: 0 0 1.5em; }

.faqs-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .faqs-container::after {
    content: " ";
    display: block;
    clear: both; }

.faq-col {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  @media (min-width: 60em) {
    .faq-col {
      width: 48.9443378119%;
      float: left;
      margin-right: 2.1113243762%; }
      .faq-col:nth-of-type(2n) {
        width: 48.9443378119%;
        margin-right: 0; } }

.faq-item {
  overflow: hidden;
  position: relative;
  background: #fff;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  box-shadow: 2px 1px 10px 0 rgba(1, 1, 1, 0.3); }
  .faq-item::before {
    background: #10ace3;
    position: absolute;
    display: block;
    content: '';
    height: 5px;
    width: 0;
    top: 0;
    left: 0;
    transition: all ease-in 300ms; }
  .faq-item .icon-caret-down {
    position: absolute;
    right: 20px;
    top: 0;
    width: 15px; }
  .faq-item .faq-answer {
    margin-top: 40px;
    display: none;
    overflow-x: auto; }
  @media (min-width: 60em) {
    .faq-item {
      padding: 40px; } }
