@font-face {
  font-family: Chronicle Display Light;
  src: url(../fonts/Chronicle_Display/Chronicle_Display_Light.otf); }

@font-face {
  font-family: Chronicle Display Semibold;
  src: url(../fonts/Chronicle_Display/Chronicle_Display_Semibold.otf); }

@font-face {
  font-family: Proxima Nova Bold;
  src: url(../fonts/Proxima_Nova/Proxima_Nova_Bold.otf); }

@font-face {
  font-family: Proxima Nova Regular;
  src: url(../fonts/Proxima_Nova/Proxima_Nova_Regular.otf); }

@font-face {
  font-family: Proxima Nova Thin;
  src: url(../fonts/Proxima_Nova/Proxima_Nova_thin.otf); }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
How it works: The helper classes apply margin or padding to an element ranging from 0 to 5. Each size increment was designed
to align with common Material Design spacings. These classes can be applied using
the following format {property}{direction}-{size}.

The property applies the type of spacing:

m - applies margin p - applies padding The direction designates the side the property applies to:

t - applies the spacing for *-top
b - applies the spacing for *-bottom
l - applies the spacing for *-left
r - applies the spacing for *-right
x - applies the spacing for both -left and -right
y - applies the spacing for both -top and -bottom
a - applies the spacing for the property in all directions
 */
.px-0 {
  padding-left: 0px !important;
  padding-right: 0px !important; }

.py-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important; }

.pa-0 {
  padding: 0px 0px !important; }

.pt-0 {
  padding-top: 0px !important; }

.pb-0 {
  padding-bottom: 0px !important; }

.pl-0 {
  padding-left: 0px !important; }

.pr-0 {
  padding-right: 0px !important; }

.mx-0 {
  margin-left: 0px !important;
  margin-right: 0px !important; }

.my-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important; }

.ma-0 {
  margin: 0px 0px !important; }

.mt-0 {
  margin-top: 0px !important; }

.mb-0 {
  margin-bottom: 0px !important; }

.ml-0 {
  margin-left: 0px !important; }

.mr-0 {
  margin-right: 0px !important; }

.px-1 {
  padding-left: 4px !important;
  padding-right: 4px !important; }

.py-1 {
  padding-top: 4px !important;
  padding-bottom: 4px !important; }

.pa-1 {
  padding: 4px 4px !important; }

.pt-1 {
  padding-top: 4px !important; }

.pb-1 {
  padding-bottom: 4px !important; }

.pl-1 {
  padding-left: 4px !important; }

.pr-1 {
  padding-right: 4px !important; }

.mx-1 {
  margin-left: 4px !important;
  margin-right: 4px !important; }

.my-1 {
  margin-top: 4px !important;
  margin-bottom: 4px !important; }

.ma-1 {
  margin: 4px 4px !important; }

.mt-1 {
  margin-top: 4px !important; }

.mb-1 {
  margin-bottom: 4px !important; }

.ml-1 {
  margin-left: 4px !important; }

.mr-1 {
  margin-right: 4px !important; }

.px-2 {
  padding-left: 8px !important;
  padding-right: 8px !important; }

.py-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important; }

.pa-2 {
  padding: 8px 8px !important; }

.pt-2 {
  padding-top: 8px !important; }

.pb-2 {
  padding-bottom: 8px !important; }

.pl-2 {
  padding-left: 8px !important; }

.pr-2 {
  padding-right: 8px !important; }

.mx-2 {
  margin-left: 8px !important;
  margin-right: 8px !important; }

.my-2 {
  margin-top: 8px !important;
  margin-bottom: 8px !important; }

.ma-2 {
  margin: 8px 8px !important; }

.mt-2 {
  margin-top: 8px !important; }

.mb-2 {
  margin-bottom: 8px !important; }

.ml-2 {
  margin-left: 8px !important; }

.mr-2 {
  margin-right: 8px !important; }

.px-3 {
  padding-left: 16px !important;
  padding-right: 16px !important; }

.py-3 {
  padding-top: 16px !important;
  padding-bottom: 16px !important; }

.pa-3 {
  padding: 16px 16px !important; }

.pt-3 {
  padding-top: 16px !important; }

.pb-3 {
  padding-bottom: 16px !important; }

.pl-3 {
  padding-left: 16px !important; }

.pr-3 {
  padding-right: 16px !important; }

.mx-3 {
  margin-left: 16px !important;
  margin-right: 16px !important; }

.my-3 {
  margin-top: 16px !important;
  margin-bottom: 16px !important; }

.ma-3 {
  margin: 16px 16px !important; }

.mt-3 {
  margin-top: 16px !important; }

.mb-3 {
  margin-bottom: 16px !important; }

.ml-3 {
  margin-left: 16px !important; }

.mr-3 {
  margin-right: 16px !important; }

.px-4 {
  padding-left: 24px !important;
  padding-right: 24px !important; }

.py-4 {
  padding-top: 24px !important;
  padding-bottom: 24px !important; }

.pa-4 {
  padding: 24px 24px !important; }

.pt-4 {
  padding-top: 24px !important; }

.pb-4 {
  padding-bottom: 24px !important; }

.pl-4 {
  padding-left: 24px !important; }

.pr-4 {
  padding-right: 24px !important; }

.mx-4 {
  margin-left: 24px !important;
  margin-right: 24px !important; }

.my-4 {
  margin-top: 24px !important;
  margin-bottom: 24px !important; }

.ma-4 {
  margin: 24px 24px !important; }

.mt-4 {
  margin-top: 24px !important; }

.mb-4 {
  margin-bottom: 24px !important; }

.ml-4 {
  margin-left: 24px !important; }

.mr-4 {
  margin-right: 24px !important; }

.px-5 {
  padding-left: 48px !important;
  padding-right: 48px !important; }

.py-5 {
  padding-top: 48px !important;
  padding-bottom: 48px !important; }

.pa-5 {
  padding: 48px 48px !important; }

.pt-5 {
  padding-top: 48px !important; }

.pb-5 {
  padding-bottom: 48px !important; }

.pl-5 {
  padding-left: 48px !important; }

.pr-5 {
  padding-right: 48px !important; }

.mx-5 {
  margin-left: 48px !important;
  margin-right: 48px !important; }

.my-5 {
  margin-top: 48px !important;
  margin-bottom: 48px !important; }

.ma-5 {
  margin: 48px 48px !important; }

.mt-5 {
  margin-top: 48px !important; }

.mb-5 {
  margin-bottom: 48px !important; }

.ml-5 {
  margin-left: 48px !important; }

.mr-5 {
  margin-right: 48px !important; }

.px-6 {
  padding-left: 80px !important;
  padding-right: 80px !important; }

.py-6 {
  padding-top: 80px !important;
  padding-bottom: 80px !important; }

.pa-6 {
  padding: 80px 80px !important; }

.pt-6 {
  padding-top: 80px !important; }

.pb-6 {
  padding-bottom: 80px !important; }

.pl-6 {
  padding-left: 80px !important; }

.pr-6 {
  padding-right: 80px !important; }

.mx-6 {
  margin-left: 80px !important;
  margin-right: 80px !important; }

.my-6 {
  margin-top: 80px !important;
  margin-bottom: 80px !important; }

.ma-6 {
  margin: 80px 80px !important; }

.mt-6 {
  margin-top: 80px !important; }

.mb-6 {
  margin-bottom: 80px !important; }

.ml-6 {
  margin-left: 80px !important; }

.mr-6 {
  margin-right: 80px !important; }

.contact-icon {
  background: url("../images/icons/contact.svg") no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;
  display: block; }

body {
  font-size: 16px;
  font-family: Proxima Nova Regular;
  color: #58595b; }

a:hover {
  color: #d9d9d9; }

li p {
  font-weight: 200;
  letter-spacing: 0.5px; }

img, svg, video, audio {
  max-width: 100%; }

button {
  border: none;
  text-align: center;
  cursor: pointer; }

textarea {
  overflow: auto;
  font: inherit;
  margin: 0;
  resize: none; }

input[type="text"] {
  color: #333;
  border-radius: 3px;
  padding: 12px 8px; }

select {
  color: #333;
  box-shadow: none;
  padding: 12px 26px 12px 10px;
  width: 100%;
  border: none;
  background-color: transparent;
  background-image: none; }

footer {
  bottom: 0;
  height: auto;
  padding-bottom: 40px; }

.hidden {
  display: none; }

p {
  line-height: 34px;
  letter-spacing: 0.315px;
  font-size: 1.3em;
  color: black; }

ul li {
  font-size: 21px;
  line-height: 38px;
  letter-spacing: 0.315px;
  color: black; }
  ul li::before {
    content: "\2022";
    color: #B30838;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: 1em; }

a {
  color: #B30838;
  font-size: 1.3em;
  line-height: 34px;
  font-family: Proxima Nova Regular;
  text-decoration: none;
  position: relative;
  padding-right: 20px;
  display: table; }
  a:hover {
    text-decoration: underline;
    color: #B30838; }
  a.bigger {
    text-transform: uppercase; }
  a:after {
    content: '';
    background: url("../images/icons/pointer-right.svg");
    width: 10px;
    height: 15px;
    display: block;
    position: absolute;
    right: 0px;
    top: 10px;
    background-repeat: no-repeat; }

.container {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.container-fluid {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto; }

.flex {
  display: flex;
  flex-flow: wrap; }

.image-caption {
  font-family: "Proxima Nova Regular";
  font-style: italic;
  font-weight: normal;
  font-size: 1.125em;
  line-height: 29px;
  text-align: center;
  color: #1D3557; }

.full-width {
  margin: 0 calc((100% - 100vw)/2);
  max-width: none;
  overflow: auto;
  width: 100vw; }

.main {
  position: relative; }

h1 {
  font-family: Chronicle Display Light;
  font-style: normal;
  font-weight: 300;
  font-size: 5.6em;
  line-height: 96px;
  margin-bottom: 20px; }

h2 {
  font-family: Chronicle Display Light;
  font-style: normal;
  font-weight: 300;
  font-size: 3.7em;
  line-height: 68px;
  margin-bottom: 20px; }

h3 {
  font-family: Chronicle Display Light;
  font-style: normal;
  font-weight: normal;
  font-size: 3.1em;
  line-height: 55px;
  margin-bottom: 20px; }

h4 {
  font-family: Chronicle Display Light;
  font-style: normal;
  font-weight: 300;
  font-size: 2.5em;
  line-height: 45px;
  margin-bottom: 20px; }

h5 {
  font-family: Chronicle Display Light;
  font-style: normal;
  font-weight: 300;
  font-size: 2.5em;
  line-height: 45px;
  margin-bottom: 20px; }

h6 {
  font-family: Chronicle Display Light;
  font-style: normal;
  font-weight: 325;
  font-size: 1.8em;
  line-height: 45px;
  margin-bottom: 20px; }

.big-size {
  font-size: 5.6em;
  line-height: 96px; }

.underline:after {
  content: '';
  background: #FFAC5F;
  width: 50px;
  height: 2px;
  display: block; }

.alert {
  border: 1px solid red;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }

.alert-warning {
  background-color: #ffffff; }

.alert-error {
  background-color: #ffffff; }

.alert-success {
  background-color: #ffffff; }

.alert-info {
  background-color: #ffffff; }

.btn {
  padding: 15px 30px;
  text-transform: uppercase;
  border: 2px solid;
  font-family: Proxima Nova Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 0.875em;
  line-height: 14px;
  background: white; }
  .btn--primary {
    border: 2px solid #B30838;
    background: #ffffff;
    color: #B30838; }
    .btn--primary:hover {
      background: #B30838;
      color: #ffffff; }
  .btn--secondary {
    border: 2px solid #FFAC5F;
    background: #ffffff;
    color: #FFAC5F; }
    .btn--secondary:hover {
      background: #FFAC5F;
      color: #ffffff; }

.nav {
  position: absolute;
  width: 100%; }
  .nav.open {
    width: 100%; }

.main-nav {
  position: relative;
  z-index: 2; }
  @media (min-width: 576px) {
    .main-nav {
      flex-direction: row;
      flex: auto;
      display: flex; } }
  .main-nav h3 {
    color: #1D3557;
    font-size: 38.4px; }
  .main-nav--bar {
    float: left;
    background: #2C49A4;
    display: flex;
    width: 100%;
    padding: 18px;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    z-index: 99; }
    @media (min-width: 576px) {
      .main-nav--bar {
        width: 70px;
        padding: 20px;
        flex-direction: row;
        flex-wrap: wrap; } }
    @media (min-width: 992px) {
      .main-nav--bar {
        width: 90px;
        padding: 30px; } }
  .main-nav .parent-menu {
    background: #ffffff;
    min-width: 200px;
    float: left;
    width: 100%;
    padding: 20px 30px;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    left: -200%;
    top: 0px; }
    .main-nav .parent-menu.open {
      left: 0px; }
    @media (min-width: 576px) {
      .main-nav .parent-menu {
        box-shadow: 2px 0px 5px 1px #dad8d8;
        padding: 20px 30px;
        width: 42%;
        top: 0px; } }
    @media (min-width: 992px) {
      .main-nav .parent-menu {
        padding: 20px 45px;
        width: 375px; } }
  .main-nav .logo {
    align-self: center;
    width: 100%;
    display: none; }
    @media (min-width: 576px) {
      .main-nav .logo {
        display: block; } }
  .main-nav .logo-mobile {
    flex: 1;
    display: flex;
    justify-content: center; }
    @media (min-width: 576px) {
      .main-nav .logo-mobile {
        display: none; } }
  .main-nav .contact-link {
    width: 100%;
    align-self: flex-end;
    display: none; }
    @media (min-width: 576px) {
      .main-nav .contact-link {
        display: block; } }
    .main-nav .contact-link a {
      padding-right: 0px; }
      .main-nav .contact-link a:after {
        background: none;
        display: none;
        width: auto; }
      .main-nav .contact-link a:hover:after {
        display: none;
        background: none; }
  .main-nav--icon {
    width: 100%;
    max-width: 30px;
    height: 24px;
    position: relative;
    margin: 0px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer; }
    @media (min-width: 576px) {
      .main-nav--icon {
        height: 45px; } }
    .main-nav--icon span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #ffffff;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
    .main-nav--icon span:nth-child(1) {
      top: 0px; }
    .main-nav--icon span:nth-child(2),
    .main-nav--icon span:nth-child(3) {
      top: 10px; }
    .main-nav--icon span:nth-child(4) {
      top: 21px; }
    .main-nav--icon.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%; }
    .main-nav--icon.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .main-nav--icon.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .main-nav--icon.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%; }
  .main-nav a.no-hover:after {
    background: none; }
  .main-nav a.no-hover:hover:after {
    background: none; }
  .main-nav ul {
    list-style-type: none; }
    .main-nav ul li:before {
      content: "";
      display: none; }
    .main-nav ul li a {
      font-size: 0.85em;
      line-height: 28px;
      padding: 8px 15px 8px 0px;
      display: block;
      color: #2C49A4;
      text-decoration: none; }
      .main-nav ul li a:after {
        background: url("../images/icons/pointer-right-blue.svg") no-repeat;
        top: 14px; }
      .main-nav ul li a:hover {
        color: #B30838; }
        .main-nav ul li a:hover:after {
          background: url("../images/icons/pointer-right.svg") no-repeat; }
  .main-nav .extra-links {
    margin: 30px 0px; }
    .main-nav .extra-links a {
      text-transform: uppercase; }

.main-nav ul li.active .submenu {
  left: 0px;
  -webkit-transition: left 200ms ease-in;
  -moz-transition: left 200ms ease-in;
  -ms-transition: left 200ms ease-in;
  transition: left 200ms ease-in; }
  @media (min-width: 576px) {
    .main-nav ul li.active .submenu {
      left: 100%; } }
  @media (min-width: 992px) {
    .main-nav ul li.active .submenu {
      left: 100%; } }

.main-nav ul li .submenu {
  background: #ffffff;
  position: absolute;
  padding: 20px 35px;
  width: 100%;
  top: 0;
  left: -100%;
  min-width: 200px;
  z-index: 2;
  height: 100%;
  -webkit-transition: left 200ms ease-in;
  -moz-transition: left 200ms ease-in;
  -ms-transition: left 200ms ease-in;
  transition: left 200ms ease-in; }
  @media (min-width: 576px) {
    .main-nav ul li .submenu {
      box-shadow: 2px 0px 5px 1px #dad8d8;
      padding: 20px 35px;
      left: -430px;
      width: 100%;
      z-index: -1; } }
  @media (min-width: 992px) {
    .main-nav ul li .submenu {
      padding: 20px 45px;
      left: -200%; } }
  .main-nav ul li .submenu-block {
    margin-bottom: 40px; }
    .main-nav ul li .submenu-block h4 {
      font-size: 0.6em;
      text-transform: uppercase;
      color: #1D3557;
      font-family: Proxima Nova Bold;
      margin-bottom: 0px; }
  .main-nav ul li .submenu a:after {
    background: none; }
  .main-nav ul li .submenu a:hover:after {
    background: none; }
  .main-nav ul li .submenu a.back {
    padding: 8px 15px 8px 20px; }
    .main-nav ul li .submenu a.back:before {
      content: '';
      background: url("../images/icons/pointer-left-blue.svg") no-repeat;
      width: 10px;
      height: 15px;
      display: block;
      position: absolute;
      left: 0px;
      top: 14px; }
    .main-nav ul li .submenu a.back:hover:before {
      background: url("../images/icons/pointer-left.svg") no-repeat; }

.bg-black {
  background-color: #000000 !important; }

.bg-fog {
  background-color: #F7F7F7 !important; }

.bg-crimson {
  background-color: #B30838 !important; }

.bg-white {
  background-color: #ffffff !important; }

.bg-imperial-red {
  background-color: #E63946 !important; }

.bg-orange {
  background-color: #FFAC5F !important; }

.bg-sea-foam {
  background-color: #A8DADC !important; }

.bg-sky-blue {
  background-color: #79B9ED !important; }

.bg-pacific {
  background-color: #2C49A4 !important; }

.bg-prussian {
  background-color: #1D3557 !important; }

.color-black {
  color: #000000 !important; }

.color-fog {
  color: #F7F7F7 !important; }

.color-crimson {
  color: #B30838 !important; }

.color-white {
  color: #ffffff !important; }

.color-imperial-red {
  color: #E63946 !important; }

.color-orange {
  color: #FFAC5F !important; }

.color-sea-foam {
  color: #A8DADC !important; }

.color-sky-blue {
  color: #79B9ED !important; }

.color-pacific {
  color: #2C49A4 !important; }

.color-prussian {
  color: #1D3557 !important; }

.border-black {
  border-color: #000000 !important; }

.border-fog {
  border-color: #F7F7F7 !important; }

.border-crimson {
  border-color: #B30838 !important; }

.border-white {
  border-color: #ffffff !important; }

.border-imperial-red {
  border-color: #E63946 !important; }

.border-orange {
  border-color: #FFAC5F !important; }

.border-sea-foam {
  border-color: #A8DADC !important; }

.border-sky-blue {
  colborder-coloror: #79B9ED !important; }

.border-pacific {
  border-color: #2C49A4 !important; }

.border-prussian {
  border-color: #1D3557 !important; }

.card-image {
  position: relative;
  overflow: hidden; }
  .card-image--image {
    margin: 0px 15px;
    position: relative;
    z-index: 3; }
    @media (min-width: 768px) {
      .card-image--image {
        width: 70%;
        z-index: 2;
        position: absolute; } }
  .card-image--text {
    padding: 60px 45px 45px 45px;
    margin-top: -30px;
    letter-spacing: 0.315px;
    line-height: 34px;
    position: relative;
    z-index: 2; }
    .card-image--text p {
      color: #ffffff; }
    @media (min-width: 768px) {
      .card-image--text {
        width: 40%;
        z-index: 3;
        float: right;
        margin-top: 160px;
        padding: 60px 30px 65px 30px; } }
    @media (min-width: 992px) {
      .card-image--text {
        min-height: 400px;
        margin-top: 20%; } }
  .card-image--decoration-top {
    display: none;
    position: absolute;
    right: 125px; }
    @media (min-width: 768px) {
      .card-image--decoration-top {
        display: block; } }
  .card-image--decoration-button {
    margin-top: -45px;
    float: right;
    width: 30%;
    position: relative; }
    @media (min-width: 768px) {
      .card-image--decoration-button {
        position: absolute;
        bottom: 10px;
        right: 200px; } }
    .card-image--decoration-button .path-first {
      bottom: 2px;
      float: left;
      width: 20px;
      position: absolute;
      left: -20px; }
      @media (min-width: 768px) {
        .card-image--decoration-button .path-first {
          bottom: 180px;
          width: 40px; } }

.accordion-item {
  background: #F7F7F7;
  margin-top: 1rem;
  padding: 16px 16px;
  position: relative;
  text-align: left; }
  .accordion-item.active .pointer {
    background: url("/images/icons/pointer-up.svg") no-repeat center center; }
  .accordion-item.active .accordion-body {
    max-height: 200vh; }

.accordion-heading {
  cursor: pointer;
  padding-right: 64px; }
  .accordion-heading h6 {
    margin: initial;
    color: #2C49A4;
    font-size: 21px;
    font-family: Proxima Nova Regular;
    line-height: initial; }
  .accordion-heading .pointer {
    width: 15px;
    height: 58px;
    background: url("/images/icons/pointer-down.svg") no-repeat center center;
    display: block;
    float: right;
    position: absolute;
    right: 16px;
    top: 0px; }

.accordion-body {
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: .5s linear all; }
  .accordion-body:before {
    content: "";
    width: 100px;
    height: 3px;
    background: #FFAC5F;
    display: block;
    margin-bottom: 20px; }

.callout {
  padding: 5em 0px; }
  .callout .callout-column {
    flex: 1 0 100%; }
    @media (min-width: 992px) {
      .callout .callout-column {
        flex: 1 0 50%; } }
  @media (min-width: 992px) {
    .callout .col-1 {
      padding-right: 20px; } }
  @media (min-width: 992px) {
    .callout .col-2 {
      padding-left: 20px; } }
  .callout img {
    width: 100%; }
    @media (min-width: 992px) {
      .callout img {
        width: initial; } }

.block-two--column {
  flex: 1 0 100%; }
  @media (min-width: 992px) {
    .block-two--column {
      flex: 1 0 50%; } }

.block-two .col-1 {
  margin-bottom: 40px; }
  @media (min-width: 992px) {
    .block-two .col-1 {
      margin-bottom: inherit;
      padding-right: 10px; } }

@media (min-width: 992px) {
  .block-two .col-2 {
    padding-left: 10px; } }

.block-two img {
  width: 100%; }
  @media (min-width: 992px) {
    .block-two img {
      width: initial; } }

.block-quote--quote {
  position: relative;
  margin-top: 30px; }
  @media (min-width: 768px) {
    .block-quote--quote {
      padding: 0px 40px; } }
  @media (min-width: 992px) {
    .block-quote--quote {
      padding: 0px 50px;
      max-width: 70%;
      margin: 30px auto 24px auto; } }
  .block-quote--quote p {
    color: #B30838;
    font-size: 1.6em;
    font-style: italic; }
  .block-quote--quote:before {
    content: "";
    width: 25px;
    height: 30px;
    display: block;
    background: url("../images/icons/quote-up.svg") no-repeat;
    background-size: 100% 100%;
    left: -10px;
    top: -30px;
    position: absolute; }
    @media (min-width: 768px) {
      .block-quote--quote:before {
        left: 0px;
        top: -10px;
        width: 35px;
        height: 40px; } }
    @media (min-width: 992px) {
      .block-quote--quote:before {
        width: 50px;
        height: 50px;
        top: -25px; } }
  .block-quote--quote:after {
    content: "";
    width: 25px;
    height: 30px;
    display: block;
    background: url("../images/icons/quote-down.svg") no-repeat;
    background-size: 100% 100%;
    right: -16px;
    position: absolute;
    bottom: -15px; }
    @media (min-width: 768px) {
      .block-quote--quote:after {
        right: 0px;
        bottom: -10px;
        width: 35px;
        height: 40px; } }
    @media (min-width: 992px) {
      .block-quote--quote:after {
        width: 50px;
        height: 50px;
        bottom: -25px; } }

.block-quote--citation {
  text-transform: uppercase;
  text-align: center;
  color: #2C49A4;
  font-size: 1em; }

.slider-controls {
  overflow: hidden;
  display: flex; }
  .slider-controls--left {
    width: 35px;
    height: 35px;
    background-color: #E63946;
    background-image: url("../images/icons/arrow-left.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer; }
  .slider-controls--right {
    width: 35px;
    height: 35px;
    background-color: #E63946;
    background-image: url("../images/icons/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 2px;
    cursor: pointer; }

@media (max-width: 575px) {
  .card-slider.container {
    padding: initial; } }

@media (min-width: 992px) {
  .card-slider .col-1 {
    width: 70%;
    padding: 10px 0px 10px 10px; } }

@media (min-width: 992px) {
  .card-slider .col-2 {
    width: 45%;
    position: absolute;
    bottom: 14%;
    right: 0px;
    z-index: 3;
    padding: 40px 20px; } }

.card-slider .card-slide {
  position: relative; }

.card-slider--image {
  padding: 0px 10px;
  position: relative; }
  @media (min-width: 576px) {
    .card-slider--image {
      padding: 0px 40px; } }
  .card-slider--image img {
    position: relative;
    z-index: 2; }
  .card-slider--image-title {
    position: absolute;
    bottom: 10px;
    left: 30px;
    z-index: 3; }
    @media (min-width: 576px) {
      .card-slider--image-title {
        bottom: 10px;
        left: 60px; } }
    @media (min-width: 992px) {
      .card-slider--image-title {
        bottom: 20px;
        left: 30px; } }
    .card-slider--image-title h4 {
      font-size: 1.8em;
      color: #ffffff; }
      @media (max-width: 767px) {
        .card-slider--image-title h4 {
          font-size: 1.8em; } }
  .card-slider--image-square {
    width: 60px;
    height: 60px;
    background: #FFAC5F;
    position: absolute;
    left: 5px;
    bottom: -4px;
    z-index: 1; }
    @media (min-width: 576px) {
      .card-slider--image-square {
        bottom: -5px;
        left: 34px; } }
    @media (min-width: 992px) {
      .card-slider--image-square {
        bottom: 0px;
        left: 0px; } }
  .card-slider--image-controls {
    position: absolute;
    right: 10px;
    bottom: 0px;
    z-index: 3; }
    @media (min-width: 576px) {
      .card-slider--image-controls {
        bottom: 0px;
        right: 40px; } }
    @media (min-width: 992px) {
      .card-slider--image-controls {
        right: 0px;
        bottom: 10px; } }

.card-slider--text {
  padding: 60px 30px 30px 30px;
  margin-top: -30px; }
  .card-slider--text h2 {
    color: #ffffff; }
    @media (max-width: 767px) {
      .card-slider--text h2 {
        font-size: 2.5em;
        line-height: 40px; } }
  .card-slider--text p {
    color: #ffffff; }

.tabs {
  display: flex;
  flex-wrap: wrap; }
  .tabs label {
    order: initial;
    display: block;
    padding: 16px;
    cursor: pointer;
    background: #F7F7F7;
    transition: background ease 0.2s;
    position: relative;
    color: #2C49A4;
    font-size: 21px;
    font-family: Proxima Nova Regular;
    line-height: initial;
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem; }
    @media (min-width: 576px) {
      .tabs label {
        width: auto;
        order: 1;
        border-bottom: 1px solid #F7F7F7;
        background: #ffffff;
        margin: 0px 30px 40px 0px; } }
    .tabs label .pointer {
      width: 15px;
      height: 45px;
      background: url("/images/icons/pointer-down.svg") no-repeat center center;
      display: block;
      float: right;
      position: absolute;
      right: 16px;
      top: 5px; }
      @media (min-width: 576px) {
        .tabs label .pointer {
          display: none; } }
  .tabs .tab {
    flex-grow: 1;
    width: 100%;
    display: none;
    padding: 0px 16px 16px 20px;
    background: #F7F7F7;
    order: initial; }
    @media (min-width: 576px) {
      .tabs .tab {
        order: 99;
        background: #ffffff;
        padding: 16px 0px; } }
    .tabs .tab h3 {
      color: #2C49A4; }
    .tabs .tab:before {
      content: "";
      width: 100px;
      height: 3px;
      background: #FFAC5F;
      display: block;
      margin-bottom: 30px; }
      @media (min-width: 576px) {
        .tabs .tab:before {
          display: none; } }
  .tabs input[type="radio"] {
    display: none; }
  @media (min-width: 576px) {
    .tabs input[type="radio"]:checked + label {
      border-bottom: 1px solid #FFAC5F;
      background: #F7F7F7;
      color: #000000; } }
  .tabs input[type="radio"]:checked + label .pointer {
    background: url("/images/icons/pointer-up.svg") no-repeat center center; }
  .tabs input[type="radio"]:checked + label + .tab {
    display: block; }

.card-three-column h2 {
  color: #1D3557; }

.card-three-column--text {
  padding: 20px;
  margin: -50px 0px 60px 0px;
  color: #ffffff;
  background: #1D3557;
  position: relative; }
  .card-three-column--text p {
    color: #ffffff; }
  @media (min-width: 576px) {
    .card-three-column--text {
      margin: 0px 0px 0px -50px; } }
  @media (min-width: 992px) {
    .card-three-column--text {
      margin: -50px 20px 0px 20px; } }

.card-three-column--image img {
  width: 100%; }

@media (min-width: 576px) {
  .card-three-column--image {
    width: 70%; } }

@media (min-width: 992px) {
  .card-three-column--image {
    width: 100%; } }

@media (max-width: 991px) {
  .card-three-column--row.container {
    width: auto;
    margin: initial;
    padding: initial;
    max-width: none; } }

.card-three-column .card-column {
  flex: 1 0 100%; }
  @media (max-width: 575px) {
    .card-three-column .card-column.container {
      width: auto;
      margin: initial;
      padding: initial; } }
  @media (min-width: 992px) {
    .card-three-column .card-column.container {
      width: auto;
      margin: 0px 20px 0px 0px;
      padding: initial; } }
  @media (min-width: 992px) {
    .card-three-column .card-column.container.col-3 {
      margin: 0px; } }
  @media (min-width: 576px) {
    .card-three-column .card-column {
      display: flex;
      align-items: center;
      margin-bottom: 40px; } }
  @media (min-width: 992px) {
    .card-three-column .card-column {
      flex: 1 0 30%;
      display: block; } }
  @media (min-width: 576px) {
    .card-three-column .card-column .column {
      width: 40%;
      max-width: none;
      padding: initial;
      margin: initial;
      float: right; } }
  @media (min-width: 992px) {
    .card-three-column .card-column .column {
      width: 100%; } }

.search input {
  padding: 10px;
  font-size: 1.3em;
  border-radius: 3px;
  border: none;
  background: rgba(121, 185, 237, 0.2);
  color: #2C49A4;
  font-style: italic;
  width: 100%;
  font-family: Chronicle Display; }

.search ::placeholder {
  color: #2C49A4;
  opacity: 0.69; }
