#RedBar {
  background: #c62328;
  color: white;
  text-align: center; }
  #RedBar .sfContentBlock {
    padding: 15px; }
    #RedBar .sfContentBlock a {
      color: white; }

#BlueBar .notification#StickyBar {
  background-color: #1BAAE4;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 100;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  z-index: 11 !important;
  width: 100%; }

body {
  font-size: 16px;
  font-family: ars-maquette-web, sans-serif;
  color: #58595b; }

a:hover {
  color: #d9d9d9; }

li p {
  font-weight: 200;
  letter-spacing: 0.5px; }

img, svg, video, audio {
  max-width: 100%; }

button {
  border: none;
  text-align: center;
  cursor: pointer; }

textarea {
  overflow: auto;
  font: inherit;
  margin: 0;
  resize: none; }

input[type="text"] {
  color: #333;
  border-radius: 3px;
  padding: 12px 8px; }

select {
  color: #333;
  box-shadow: none;
  padding: 12px 26px 12px 10px;
  width: 100%;
  border: none;
  background-color: transparent;
  background-image: none; }

footer {
  bottom: 0;
  height: auto;
  padding-bottom: 40px; }

.hidden {
  display: none; }

h1 {
  font-family: Chronicle Display;
  font-style: normal;
  font-weight: 300;
  font-size: 90px;
  line-height: 96px;
  color: #B30838; }

h1.color-white {
  color: #ffffff; }

h2 {
  font-family: Chronicle Display;
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 68px;
  color: #2C49A4; }

h2.color-white {
  color: #ffffff; }

h2.color-prussian {
  color: #1D3557; }

h3 {
  font-family: Chronicle Display;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 55px;
  color: #2C49A4; }

h4 {
  font-family: Chronicle Display;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 45px;
  color: #2C49A4; }

h5 {
  font-family: Chronicle Display;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 45px;
  color: #B30838; }

h6 {
  font-family: Chronicle Display;
  font-style: normal;
  font-weight: 325;
  font-size: 30px;
  line-height: 45px;
  color: #2C49A4; }

.big-size {
  font-size: 90px;
  line-height: 96px; }

.underline:after {
  content: '';
  background: #FFAC5F;
  width: 60px;
  height: 2px;
  display: block; }

.alert {
  border: 1px solid red;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }

.alert-warning {
  background-color: #ffffff; }

.alert-error {
  background-color: #ffffff; }

.alert-success {
  background-color: #ffffff; }

.alert-info {
  background-color: #ffffff; }

.btn--red {
  color: #ffffff !important;
  font-weight: 400;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: lowercase;
  font-family: nunito sans, sans-serif;
  font-size: 1rem;
  transition: all ease-in 300ms;
  border: 0;
  -webkit-appearance: button;
  cursor: pointer; }

.btn--transparent__outline {
  background-color: transparent;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  height: 45px;
  max-width: 225px;
  width: 140px;
  border: 1px solid #ffffff !important; }
  .btn--transparent__outline:hover {
    background-color: #ffffff; }

.btn--transparent {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  flex: 0 0 180px;
  height: 48px;
  box-sizing: border-box;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .9em;
  border-radius: 3px;
  cursor: pointer; }
  .btn--transparent:hover {
    background-color: #ffffff;
    color: #000000; }

.btn--blue {
  color: #ffffff;
  font-weight: 600;
  font-size: 15px;
  border-radius: 3px;
  height: 45px;
  margin-right: 10px;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px; }
  .btn--blue:hover {
    background-color: #004eb0; }
  @media only screen and (max-width: 600px) {
    .btn--blue {
      margin-top: 10px;
      text-align: center; } }

.btn--blue__outline {
  background-color: #ffffff;
  border-radius: 3px;
  font-size: 14px;
  height: 45px;
  max-width: 225px;
  width: 140px; }
  .btn--blue__outline:hover {
    background-color: #e6e6e6; }

.hero #singlePriceTwoButtons {
  margin-bottom: 10px;
  font-weight: bold !important;
  width: 225px !important; }

.hero__button--persian {
  color: #ffffff !important; }

.hero__button--orange {
  color: #000000 !important;
  background-color: #FFAC5F; }
  .hero__button--orange:hover {
    background-color: #d8a400; }

.hero-button-wrapper {
  font-size: 14px;
  margin-right: 10px;
  display: flex;
  width: 100%; }
  @media only screen and (max-width: 600px) {
    .hero-button-wrapper {
      align-items: center;
      flex-direction: column;
      justify-content: center; } }

.internet-hero {
  min-width: 200px; }

.c-wifi-cta button {
  width: 239px; }

.hero__button {
  font-size: 14px;
  font-weight: 600;
  max-width: 225px;
  height: 48px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 3px;
  justify-content: center;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 30px; }
  .hero__button :first-of-type {
    margin-right: 10px; }
  @media only screen and (max-width: 600px) {
    .hero__button {
      margin-bottom: 12px; } }

input[type="text"] {
  color: #333;
  border-radius: 3px;
  padding: 12px 8px; }

textarea {
  overflow: auto;
  font: inherit;
  margin: 0;
  resize: none; }

.form-group {
  border: 0; }

.form-row {
  margin-bottom: 10px; }

.form-group input[type="text"] {
  padding: 5px 0;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
  width: 100%;
  margin-bottom: 0;
  line-height: normal;
  font: inherit; }

.form-group textarea {
  border: 0;
  border-radius: 0;
  width: 100%;
  padding: 0;
  padding-left: 0px;
  box-sizing: border-box;
  min-height: 100px; }

.address-group {
  width: 100%;
  overflow: auto;
  display: table; }

.ag-city {
  width: 50%; }

.address-group div {
  display: table-cell; }

.ag-state {
  width: 25%;
  padding: 5px; }

.form-group label {
  display: block;
  font-family: nunito sans,sans-serif;
  text-transform: uppercase;
  font-size: 12px; }

.form-row select {
  border-bottom: 0; }

.form-group select {
  box-sizing: border-box;
  padding: 5px 0;
  border: 0;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-radius: 0;
  width: 100%; }

select {
  color: #000000;
  box-shadow: none;
  padding: 12px 26px 12px 10px;
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none; }

.select-wrapper {
  position: relative;
  max-width: 240px;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 5px;
  overflow: hidden; }

.inquiry-row {
  width: 50%; }

.inquiry-type-select {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px,5px 5px,1px 1.5em;
  background-repeat: no-repeat; }

.comment-row textarea {
  padding-left: 0; }

.button-select select {
  position: relative;
  height: 36px;
  min-width: 154px;
  line-height: 36px;
  text-align: left;
  font-weight: 700;
  font-size: .85rem;
  color: #ffffff;
  border-radius: 4px;
  padding: 0 48px 0 18px;
  cursor: pointer;
  border: none; }

.button-select select::after {
  content: '';
  background-image: url(/assets/img/chevron-white.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 14px;
  margin: auto;
  transition: transform .15s ease-out; }

.video.active {
  align-items: center;
  display: flex;
  justify-content: center; }

.video {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  height: 100vh;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 4; }

.modal-overlay {
  display: none; }
  .modal-overlay .active {
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001; }

.modalhome {
  align-items: center;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.16), 0 1px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  padding: 20px;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 375px;
  z-index: 4; }

.modal-close {
  width: auto !important;
  margin-right: 0;
  margin-left: auto; }

.disableClose {
  display: none; }

.modal-body {
  margin-top: 24px;
  width: 100%; }
  .modal-body .modal-content {
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 5px; }
  .modal-body .title {
    font-size: 32px;
    font-weight: 600; }

.modal-content {
  margin-bottom: 20px;
  text-align: center;
  width: 100%; }

.modal-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 55%; }
  @media only screen and (max-width: 600px) {
    .modal-grid {
      width: 80%; } }

.vert {
  margin-bottom: 1.5em; }

.vert .simply-scroll-clip {
  max-width: 602px; }

.simply-scroll-clip {
  position: relative;
  overflow: hidden; }

.simply-scroll-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none; }

.feed h5 {
  font-size: 13px;
  margin: 0 0 5px 0;
  font-family: nunito sans, sans-serif;
  font-weight: 700; }

.simply-scroll-list li {
  padding: 0;
  margin: 0;
  list-style: none; }

.vert .simply-scroll-list li {
  width: 602px;
  height: 95px; }

.link-menu {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.28);
  display: none;
  flex-direction: column;
  left: -15px;
  max-width: 220px;
  min-width: 120px;
  padding: 10px 15px;
  position: absolute;
  top: 35px;
  transition: 150ms ease-in-out;
  z-index: 3;
  width: 100%; }

.link-menu a {
  background-color: #ffffff;
  color: #000000;
  display: block;
  font-size: 14px;
  margin: 0;
  padding: 10px 0;
  text-decoration: none;
  max-width: fit-content;
  max-width: -moz-fit-content; }

.nav-primary {
  background-color: #ffffff;
  height: 30px;
  width: 100%; }

@media only screen and (max-width: 1024px) {
  .nav-primary {
    display: none; } }

.nav-primary__links__wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  max-width: 1440px; }

.nav-primary__links {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 50px;
  max-width: 550px;
  width: 100%; }

@media only screen and (max-width: 1024px) {
  .nav-primary__links {
    display: none;
    margin-right: 0;
    padding: 0 10px; } }

.nav-primary__link {
  color: #000000 !important;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none; }

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }

.nav-secondary {
  width: 100%;
  align-items: center; }

.nav-secondary__banner {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 10px; }
  @media only screen and (max-width: 800px) {
    .nav-secondary__banner {
      background-size: contain; } }

.nav-secondary__content {
  height: 100%;
  align-items: center;
  display: flex;
  max-width: 1440px;
  padding: 15px 0; }

.nav-secondary__content__logo {
  height: inherit;
  margin-left: 70px;
  margin-right: auto;
  padding-top: 10px; }
  @media only screen and (max-width: 950px) {
    .nav-secondary__content__logo {
      margin-left: 15px;
      margin-right: 20px; } }
  .nav-secondary__content__logo a {
    align-items: center;
    display: flex;
    height: 100%;
    width: 161px; }
    @media only screen and (max-width: 950px) {
      .nav-secondary__content__logo a {
        width: 85px; } }
  .nav-secondary__content__logo a img {
    width: 70%; }
    @media only screen and (max-width: 950px) {
      .nav-secondary__content__logo a img {
        width: 100%; } }

.nav-secondary__content__links {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;
  width: 50%; }
  @media only screen and (max-width: 1100px) {
    .nav-secondary__content__links {
      width: 60%; } }
  @media only screen and (max-width: 1000px) {
    .nav-secondary__content__links {
      width: 75%; } }
  @media only screen and (max-width: 950px) {
    .nav-secondary__content__links {
      width: 100%; } }

.nav-secondary__content__link {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 6px 0 5px 0;
  position: relative; }
  .nav-secondary__content__link .first {
    white-space: nowrap; }
  @media only screen and (max-width: 1024px) {
    .nav-secondary__content__link {
      display: none; } }
  .nav-secondary__content__link a {
    font-size: 14px; }
  .nav-secondary__content__link .top-link {
    border-bottom: 2px solid transparent;
    padding: 5px 3px 3px 3px; }
  .nav-secondary__content__link .default-cursor {
    cursor: default; }

.nav-secondary-link .top-link, .nav-secondary-link span {
  color: #1d1d1d;
  font-size: 14px;
  height: 100%;
  padding-left: 3px;
  padding-right: 3px;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 2; }

.nav-secondary__content__link__menu {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.28);
  display: none;
  flex-direction: column;
  left: -15px;
  max-width: 220px;
  min-width: 120px;
  padding: 10px 15px;
  position: absolute;
  top: 35px;
  transition: 150ms ease-in-out;
  z-index: 2;
  width: 100%; }

.nav-secondary__search {
  align-items: center;
  display: flex;
  height: 100%;
  margin-right: 40px;
  padding: 8px; }
  .nav-secondary__search ::before, .nav-secondary__search ::after {
    box-sizing: border-box; }
  @media only screen and (max-width: 1024px) {
    .nav-secondary__search {
      margin-right: 0; } }
  .nav-secondary__search img {
    height: 20px;
    margin-right: 10px;
    width: 20px; }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale; }

.mobile-menu {
  display: none !important; }
  @media only screen and (max-width: 1024px) {
    .mobile-menu {
      display: block !important;
      font-size: 32px !important;
      margin-left: 0;
      margin-right: 10px;
      padding: 8px; } }

.nav-secondary__mobile-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  position: absolute;
  top: 25px;
  width: calc(100% - 50px); }
  .nav-secondary__mobile-top span .close {
    font-size: 32px; }

.nav-secondary__mobile-link-group .active {
  background-color: #ffc40c;
  bottom: 0;
  display: block;
  overflow-y: scroll;
  padding-top: 75px;
  position: absolute;
  right: 0;
  top: -12px;
  width: 100%;
  z-index: 2; }

.nav-secondary__mobile-link {
  display: none;
  padding: 10px 25px;
  position: relative; }
  .nav-secondary__mobile-link a .top-link {
    border-bottom: 2px solid transparent;
    padding: 5px 3px 3px 3px; }
    .nav-secondary__mobile-link a .top-link i {
      font-size: 36px !important;
      vertical-align: middle;
      float: right; }

.nav-secondary__mobile-link__menu {
  padding: 10px 15px 0;
  transition: 150ms ease-in-out; }

.nav-secondary__mobile__primary-link-group {
  border-top: 1px solid rgba(242, 242, 242, 0.4);
  margin: 0 auto;
  padding: 10px;
  display: none;
  width: calc(95% - 20px); }

a .mobile-menu-link {
  color: #000000;
  display: block;
  margin: 0;
  padding: 10px 0;
  text-decoration: none;
  white-space: nowrap;
  width: 100%; }

.footer__container {
  max-width: 1440px; }

footer .row {
  align-items: center;
  display: flex;
  width: 100%; }
  @media only screen and (max-width: 900px) {
    footer .row {
      flex-direction: column;
      padding: 40px 20px 0; } }
  @media only screen and (max-width: 920px) {
    footer .row {
      display: block; } }
  @media only screen and (max-width: 600px) {
    footer .row {
      padding: 40px 35px 0 !important; } }
  @media only screen and (max-width: 1100px) and (min-width: 921px) {
    footer .row {
      display: block !important;
      padding: 40px 0px 0 !important; } }

.footer__links {
  display: flex;
  flex: 0 0 50%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 70px;
  padding-top: 40px; }

.footer__links-left {
  display: flex;
  flex: 0 0 30%;
  padding-left: 70px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 70px;
  padding-top: 40px;
  min-width: 33%; }
  @media only screen and (max-width: 900px) {
    .footer__links-left {
      flex: 0 0 100%;
      margin: 0 0 20px;
      padding-top: 0;
      width: calc(100% - 140px); } }
  @media only screen and (max-width: 900px) {
    .footer__links-left {
      flex: 0 0 75%;
      justify-content: space-between;
      margin: 0 0 20px;
      min-width: 75%;
      padding-left: 0; } }
  @media only screen and (max-width: 600px) {
    .footer__links-left {
      display: block;
      margin: 0;
      width: 100%; } }
  @media only screen and (max-width: 1170px) {
    .footer__links-left {
      flex: 0 0 25%;
      margin-right: 20px;
      min-width: 25%; } }

.footer__links-container {
  display: flex;
  flex-direction: column;
  padding: 0 5px; }
  @media only screen and (max-width: 475px) {
    .footer__links-container {
      width: 100%; } }
  @media only screen and (max-width: 900px) {
    .footer__links-container {
      margin-bottom: 20px; } }

.footer__links-container-group {
  display: block;
  flex-direction: column; }
  .footer__links-container-group :first-child {
    margin-bottom: 15px; }
  .footer__links-container-group span {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
    color: black; }
  .footer__links-container-group a {
    display: block;
    position: relative;
    bottom: 10px;
    color: #1d1d1d !important;
    font-size: 14px !important;
    margin: 3px 0;
    text-decoration: none;
    line-height: 1.25 !important; }

.footer__logo {
  padding: 40px 50px 20px 0; }
  @media only screen and (max-width: 600px) {
    .footer__logo {
      padding: 0 50px 20px 0px !important; } }

.footer__contact-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: #1d1d1d;
  padding: 20px 0; }
  @media only screen and (max-width: 575px) {
    .footer__contact-info {
      display: block;
      padding: 0; } }
  @media only screen and (max-width: 600px) {
    .footer__contact-info {
      margin: 0 auto; } }

.footer__label {
  font-family: ars-maquette-web,sans-serif;
  font-size: 14px;
  margin: auto; }

.footer__text {
  font-family: ars-maquette-web, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none; }
  @media only screen and (max-width: 625px) {
    .footer__text {
      font-size: 16px; } }

.contact-details {
  display: flex;
  flex-direction: column;
  flex: auto !important;
  min-width: 50%; }
  @media only screen and (max-width: 900px) {
    .contact-details {
      display: block;
      width: 100%;
      flex-direction: column; } }

.contact {
  margin: 10px 5px; }
  .contact :first-child {
    margin-top: 0; }

.footer__bottom-info {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0 70px; }
  @media only screen and (max-width: 600px) {
    .footer__bottom-info {
      padding: 0 20px; } }
  @media only screen and (max-width: 800px) {
    .footer__bottom-info {
      display: block;
      flex-direction: column; } }
  @media only screen and (max-width: 1024px) {
    .footer__bottom-info {
      padding: 0 50px; } }

.footer__bottom-info-menu {
  flex: 0 0 76%;
  margin-top: 20px;
  min-width: 76%; }
  @media only screen and (max-width: 600px) {
    .footer__bottom-info-menu {
      margin-top: 0; } }
  @media only screen and (max-width: 900px) {
    .footer__bottom-info-menu {
      padding: 0 20px;
      width: calc(100% - 40px); } }
  @media only screen and (max-width: 920px) {
    .footer__bottom-info-menu {
      flex: 0 0 100%;
      min-width: 100%; } }

.footer__menu {
  display: flex;
  flex-wrap: wrap; }

.footer__menu-item {
  color: #000000;
  display: inline-block;
  font-size: 14px;
  font-weight: lighter;
  padding-right: 5px;
  padding-top: 5px; }

.copyright {
  margin-top: 10px; }

.footer__icon-block {
  display: flex;
  flex: 0 0 20%;
  justify-content: space-around;
  margin-left: auto;
  min-width: 20%;
  padding-bottom: 20px; }
  @media only screen and (max-width: 575px) {
    .footer__icon-block {
      flex: 0 0 100%;
      margin: 20px 0;
      min-width: 100%;
      width: calc(100% - 40px); } }
  @media only screen and (max-width: 900px) {
    .footer__icon-block {
      margin: 20px auto;
      width: 50%; } }
  @media only screen and (max-width: 920px) {
    .footer__icon-block {
      flex: 0 0 50%;
      margin: 20px auto;
      min-width: 50%; } }

.bg-black {
  background-color: #000000; }

.bg-fog {
  background-color: #F7F7F7; }

.bg-crimson {
  background-color: #B30838; }

.bg-white {
  background-color: #ffffff; }

.bg-imperial-red {
  background-color: #E63946; }

.bg-orange {
  background-color: #FFAC5F; }

.bg-sea-foam {
  background-color: #A8DADC; }

.bg-sky-blue {
  background-color: #79B9ED; }

.bg-pacific {
  background-color: #2C49A4; }

.bg-prussian {
  background-color: #1D3557; }
