 body {
     font-size: 16px;
     font-family: ars-maquette-web, sans-serif;
     color: rgb(88, 89, 91);
}

img, svg, video, audio {
  max-width: 100%;
}

u h1 {
    color: black;
}

 /* -------------------------------------------------------------------------
  Buttons
 ---------------------------------------------------------------------------- */
 /**
 */
 button {
     border: none;
     text-align: center;
 }
 .btn--red{
     background: #c62328;
     color: #fff !important;
     font-weight: 400;
     display: inline-block;
     padding: 5px 10px;
     text-decoration: none;
     text-transform: lowercase;
     font-family: nunito sans,sans-serif;
     font-size: 1rem;
     transition: all ease-in 300ms;
     border: 0;
     -webkit-appearance: button;
     cursor: pointer;
 }
 .btn--transparent {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    flex: 0 0 180px;
    height: 48px;
    box-sizing: border-box;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9em;
    border-radius: 3px;
    cursor: pointer;
 }
 .btn--blue {
     background-color: #fff;
     border-radius: 3px;
     color: #0065e3;
     font-size: 14px;
     height: 45px;
     max-width: 225px;
     width: 140px;
     border: 1px solid #0065e3;
 }

 .hero #singlePriceTwoButtons {
     margin-bottom: 10px;
     font-weight: bold !important;
     width: 225px !important;
 }
 .hero #singlePriceTwoButtons .hero-button-primary {
     color: #000000 !important;
     background-color: #FFC607 !important;
 }
 .hero-button-secondary{
    color: #FFFFFF !important;
 }
 .hero-button-wrapper {
     font-size: 14px;
     margin-right:10px;
 }
 .internet-hero {
     min-width:200px;
 }
 .btn--blue {
     background-color: #0065e3;
     color: #fff;
     font-weight: 600;
     font-size: 15px;
     border-radius: 3px;
     height:45px;
     max-width: 225px;
 }
 .o-button_gold {
     font-size: 14px;
     font-weight: 600;
 }
 .o-button_white {
    background-color: transparent;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    height: 45px;
    max-width: 225px;
    width: 140px;
    border: 1px solid #fff;
 }
 .c-wifi-cta button {
     width: 239px;
 }
 .whwf-slice-pricing-buttons button {
     flex: 0 0 180px;
     height: 48px;
     box-sizing: border-box;
     padding: 0 30px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: .9em;
     border-radius: 3px;
     cursor: pointer;
 }
 .whwf-slice-pricing-buttons .whwf-button-gold {
     background-color: #ffc40c;
     color: #1d1d1d;
     font-weight: bold;
 }
 .default-cursor {
     cursor: default;
 }
 .link {
     align-items: center;
     display: flex;
     justify-content: center;
     padding: 6px 0 5px 0;
     position: relative;
 }
 .link.first {
     white-space: nowrap;
 }
 .top-link {
     border-bottom: 2px solid transparent;
     padding: 5px 3px 3px 3px;
 }
 /* ------------------------------------------------------------------------
 Modals
  --------------------------------------------------------------------------*/
 .video.active {
     align-items: center;
     display: flex;
     justify-content: center;
 }
 .video {
     background-color: rgba(0,0,0,.8);
     display: none;
     height: 100vh;
     left: 50%;
     position: fixed;
     top: 50%;
     transform: translate(-50%,-50%);
     width: 100%;
     z-index: 4;
 }
 /* ------------------------------------------------------------------------
 Menus
  --------------------------------------------------------------------------*/
 a {
     color: #0065e3;
     font-size: 14px;
 }
 li, p {
     font-weight: 200;
     letter-spacing: .5px;
 }
 .vert {
     margin-bottom: 1.5em;
 }
 .vert .simply-scroll-clip {
     max-width: 602px;
 }
 .simply-scroll-clip {
     position: relative;
     overflow: hidden;
 }
 .simply-scroll-list {
     overflow: hidden;
     margin: 0;
     padding: 0;
     list-style: none;
 }
 .feed h5 {
     font-size: 13px;
     margin: 0 0 5px 0;
     color: rgb(88, 89, 91);
     font-family: "Nunito Sans", sans-serif;
     font-weight: 700;
 }
 .simply-scroll-list li {
     padding: 0;
     margin: 0;
     list-style: none;
 }
 .vert .simply-scroll-list li {
     width: 602px;
     height: 95px;
 }
 .link-menu {
     background-color: #fff;
     border-radius: 4px;
     box-shadow: 0 5px 20px rgba(0,0,0,.28);
     display: none;
     flex-direction: column;
     left: -15px;
     max-width: 220px;
     min-width: 120px;
     padding: 10px 15px;
     position: absolute;
     top: 35px;
     transition: 150ms ease-in-out;
     z-index: 3;
     width: 100%;
 }
 .link-menu a {
     background-color: #fff;
     color: #1d1d1d;
     display: block;
     font-size: 14px;
     margin: 0;
     padding: 10px 0;
     text-decoration: none;
     max-width: fit-content;
     max-width: -moz-fit-content;
 }

/* -------------------------------------------------------------------------
 Alerts
---------------------------------------------------------------------------- */
/**
 * Alert styles. Your patterns/styles will vary.
 * You should link your main stylesheet up with Style Guide Boilerplate for
 * best results. When you update your site's styles, your style guide will
 * update as well.
 */
.alert {
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  margin-bottom: 20px;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #fbeed5;
  color: #8b6d3a;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #aa4342;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c773d;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #2f7090;
}



/* -------------------------------------------------------------------------
 Breadcrumbs
---------------------------------------------------------------------------- */
/**
 * Breadcrumb styles for first pattern. Your patterns/styles will vary.
 * You should link your main stylesheet up with Style Guide Boilerplate for
 * best results. When you update your site's styles, your style guide will
 * update as well.
 */
.breadcrumb {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  list-style: none;
  margin: 0 0 20px;
  padding: 8px 15px;
}

.breadcrumb li {
  display: inline-block;
  *display: inline;
  text-shadow: 0 1px 0 #fff;
  *zoom: 1;
}

.breadcrumb li a {
  color: #007f96;
  text-decoration: none;
}

.breadcrumb li a:hover {
  color: #004068;
}

.breadcrumb li .divider {
  color: #767676;
  padding: 0 5px;
}

.breadcrumb .active {
  color: #555;
}

 /* -------------------------------------------------------------------------
  Forms
 ---------------------------------------------------------------------------- */
 /**
  *
  */
 .faq-toolbar {
     max-width: 100%;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 15px;
 }
 .toolbar-split {
     width: 48.9443378119%;
     float: left;
     margin-right: 2.1113243762%;
 }
 .toolbar-split:last-of-type {
     width: 48.9443378119%;
     float: right;
     margin-right: 0;
     text-align: right;
 }
 input[type="text"] {
     color: #333;
     border: 1px solid #a1a1a1;
     border-radius: 3px;
     padding: 12px 8px;
 }
 textarea {
     overflow: auto;
     font: inherit;
     margin: 0;
     resize: none;
 }
 .req {
     color: red;
 }
 .error-message {
     color: red;
 }
 .form-group {
   color: #58595b;
   border: 0;
 }
 .form-row{
   border-bottom: 1px solid #a1a1a1;
   margin-bottom: 10px;
 }
 .form-group input[type="text"]{
   padding:5px 0;
   box-sizing: border-box;
   border: 0;
   border-radius: 0;
   width:100%;
   margin-bottom: 0;
   line-height: normal;
   font: inherit;
 }

 .form-group textarea {
     color: #58595b;
     border: 0;
     border-radius: 0;
     width: 100%;
     padding: 0;
     padding-left: 0px;
     box-sizing: border-box;
     min-height: 100px;
 }
 .address-group {
   width: 100%;
   overflow: auto;
   display: table;
 }
 .ag-city {
   width: 50%;
   border-right: 1px solid #a1a1a1;
 }
 .address-group div {
   display: table-cell;
 }
 .ag-state {
   width: 25%;
   border-right: 1px solid #a1a1a1;
   padding: 5px;
 }
 .form-group label {
   display: block;
   font-family: nunito sans,sans-serif;
   text-transform: uppercase;
   font-size: 12px;
 }
 .form-row select {
   border-bottom: 0;
 }
 .form-group select {
   box-sizing: border-box;
   padding: 5px 0;
   color: #58595b;
   border: 0;
   border-bottom-color: currentcolor;
   border-bottom-style: none;
   border-bottom-width: 0px;
   border-radius: 0;
   width: 100%;
 }
 select {
     color: #333;
     box-shadow: none;
     padding: 12px 26px 12px 10px;
     width: 100%;
     border: none;
     box-shadow: none;
     background-color: transparent;
     background-image: none;
 }
 .select-wrapper{
     position: relative;
     max-width: 240px;
     width: 100%;
     border: 1px solid #a1a1a1;
     border-radius: 3px;
     margin-bottom: 5px;
     overflow: hidden;
 }
 .inquiry-row {
     width: 50%;
 }
 .inquiry-type-select {
     background-image: linear-gradient(45deg,transparent 50%,gray 50%),linear-gradient(135deg,gray 50%,transparent 50%);
     background-position: calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),calc(100% - 2.5em) .5em;
     background-size: 5px 5px,5px 5px,1px 1.5em;
     background-repeat: no-repeat;
 }

 .comment-row textarea{
     padding-left: 0;
 }

 .button-select select {
     position: relative;
     background-color: #0065e3;
     height: 36px;
     min-width: 154px;
     line-height: 36px;
     text-align: left;
     font-weight: 700;
     font-size: .85rem;
     color: #fff;
     border-radius: 4px;
     padding: 0 48px 0 18px;
     cursor: pointer;
     border: none;
 }
 .button-select select::after {
     content: '';
     background-image: url(/assets/img/chevron-white.svg);
     background-repeat: no-repeat;
     background-size: contain;
     background-position: right center;
     width: 12px;
     height: 12px;
     position: absolute;
     top: 0;
     bottom: 0;
     right: 14px;
     margin: auto;
     transition: transform .15s ease-out;
 }

 /*
 Tables
  */
 .streaming-steps {
     display: flex;
     flex-wrap: nowrap;
     text-align: center;
     margin: 40px 0;
 }
 .streaming-steps .step:first-child {
     border-left: none;
 }
 .streaming-steps .step {
     flex-grow: 1;
     flex-basis: 33%;
     border-left: 1px solid #000;
     padding: 20px;
     min-height: 140px;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
 }