.alert {
  border: 1px solid red;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.alert-warning {
  background-color: $white;
  //border-color: $bumblebee;
  //color: $grey--dark;
}

.alert-error {
  background-color: $white;
  //border-color: $red;
  //color: $red;
}

.alert-success {
  background-color: $white;
  //border-color: $grey--light;
  //color: $blue--deepSky;
}

.alert-info {
  background-color: $white;
  //border-color: $blue--deepSky;
  //color: $blue--persian;
}