.bg {
  &-black {
    background-color: $black;
  }
  &-fog {
    background-color: $fog;
  }
  &-crimson {
    background-color: $crimson;
  }
  &-white {
    background-color: $white;
  }
  &-imperial-red {
    background-color: $imperial-red;
  }
  &-orange {
    background-color: $orange;
  }
  &-sea-foam {
    background-color: $sea-foam;
  }
  &-sky-blue {
    background-color: $sky-blue;
  }
  &-pacific {
    background-color: $pacific;
  }
  &-prussian {
    background-color: $prussian;
  }
}

.color {
  &-black {
    color: $black;
  }
  &-fog {
    color: $fog;
  }
  &-crimson {
    color: $crimson;
  }
  &-white {
    color: $white;
  }
  &-imperial-red {
    color: $imperial-red;
  }
  &-orange {
    color: $orange;
  }
  &-sea-foam {
    color: $sea-foam;
  }
  &-sky-blue {
    color: $sky-blue;
  }
  &-pacific {
    color: $pacific;
  }
  &-prussian {
    color: $prussian;
  }
}
