body {
  font-size: 16px;
  font-family: $p-font-stack;
  color: rgb(88,89,91);
}

a {
  &:hover {
    color: #d9d9d9;
  }

}

li {
  p {
    font-weight: 200;
    letter-spacing: 0.5px;
  }
}

img, svg, video, audio {
  max-width: 100%;
}

u {
  h1 {
    //color: $black;
  }
}

button {
  border: none;
  text-align: center;
  cursor: pointer;
}

textarea {
  overflow: auto;
  font: inherit;
  margin: 0;
  resize: none;
}

input[type="text"] {
  color: #333;
  border-radius: 3px;
  padding: 12px 8px;
}

select {
  color: #333;
  box-shadow: none;
  padding: 12px 26px 12px 10px;
  width: 100%;
  border: none;
  background-color: transparent;
  background-image: none;
}

footer {
  bottom: 0;
  height: auto;
  padding-bottom: 40px;
}

.hidden {
  display: none;
}

