.btn {
  padding: 15px 30px;
  text-transform: uppercase;
  border: 2px solid;
  font-family: Proxima Nova Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 0.875em;
  line-height: 14px;
  background: transparent;

  &--primary {
    border: 2px solid $crimson;
    background: transparent;
    color: $crimson;
    text-decoration: none;

    &:hover {
      background: $crimson;
      color: $white;
    }
  }

  &--form {
    border: 2px solid $white;
    background: transparent;
    color: $white;
    text-decoration: none;

    &:hover {
      background: $white;
      color: $prussian;
    }
  }

  &--white-celadon {
    border: 2px solid $white;
    background: transparent;
    color: $white;
    text-decoration: none;

    &:hover {
      background: $white;
      color: $celadon;
      border-color: $white;
    }
  }

  &--sea {
    border: 2px solid $sea-foam;
    background: transparent;
    color: $white;
    text-decoration: none;

    &:hover {
      background: transparent;
      color: $sea-foam;
      border-color: $sea-foam;
    }
  }

  &--secondary {
    border: 2px solid $orange;
    background: transparent;
    color: $orange;
    text-decoration: none;

    &:hover {
      background: $orange;
      color: $white;
    }
  }
}


