.btn {
  padding: 15px 30px;
  text-transform: uppercase;
  border: 2px solid;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  background: white;

  &--primary {
    border: 2px solid $crimson;
    background: $white;
    color: $crimson;

    &:hover {
      background: $crimson;
      color: $white;
    }
  }

  &--secondary {
    border: 2px solid $orange;
    background: $white;
    color: $orange;

    &:hover {
      background: $orange;
      color: $white;
    }
  }
}


