.bg {
  &-black {
    background-color: $black !important;
  }
  &-fog {
    background-color: $fog !important;
  }
  &-crimson {
    background-color: $crimson !important;
  }
  &-white {
    background-color: $white !important;
  }
  &-imperial-red {
    background-color: $imperial-red !important;
  }
  &-orange {
    background-color: $orange !important;
  }
  &-sea-foam {
    background-color: $sea-foam !important;
  }
  &-sky-blue {
    background-color: $sky-blue !important;
  }
  &-pacific {
    background-color: $pacific !important;
  }
  &-prussian {
    background-color: $prussian !important;
  }
  &-teal {
    background-color: $teal !important;
  }
  &-celadon {
    background-color: $celadon !important;
  }
}

.color {
  &-black {
    color: $black !important;
  }
  &-fog {
    color: $fog !important;
  }
  &-crimson {
    color: $crimson !important;
  }
  &-white {
    color: $white !important;
  }
  &-imperial-red {
    color: $imperial-red !important;
  }
  &-orange {
    color: $orange !important;
  }
  &-sea-foam {
    color: $sea-foam !important;
  }
  &-sky-blue {
    color: $sky-blue !important;
  }
  &-pacific {
    color: $pacific !important;
  }
  &-prussian {
    color: $prussian !important;
  }
  &-teal {
    color:$teal !important;
  }
  &-gray{
    color: $gray !important;
  }
  &-celadon {
    color: $celadon !important;
  }
}

.border {
  &-black {
    border-color: $black !important;
  }
  &-fog {
    border-color: $fog !important;
  }
  &-crimson {
    border-color: $crimson !important;
  }
  &-white {
    border-color: $white !important;
  }
  &-imperial-red {
    border-color: $imperial-red !important;
  }
  &-orange {
    border-color: $orange !important;
  }
  &-sea-foam {
    border-color: $sea-foam !important;
  }
  &-sky-blue {
    border-color: $sky-blue !important;
  }
  &-pacific {
    border-color: $pacific !important;
  }
  &-prussian {
    border-color: $prussian !important;
  }
  &-teal{
    border-color: $teal !important;
  }
  &-celadon {
    border-color: $celadon !important;
  }
}

