@font-face {
  font-family: Chronicle Display Light;
  src: url(../fonts/Chronicle_Display/Chronicle_Display_Light.otf);
}
@font-face {
  font-family: Chronicle Display Semibold;
  src: url(../fonts/Chronicle_Display/Chronicle_Display_Semibold.otf);
}

@font-face {
  font-family: Proxima Nova Bold;
  src: url(../fonts/Proxima_Nova/Proxima_Nova_Bold.otf);
}
@font-face {
  font-family: Proxima Nova Regular;
  src: url(../fonts/Proxima_Nova/Proxima_Nova_Regular.otf);
}
@font-face {
  font-family: Proxima Nova Thin;
  src: url(../fonts/Proxima_Nova/Proxima_Nova_thin.otf);
}

