h1 {
  font-family: Chronicle Display;
  font-style: normal;
  font-weight: 300;
  font-size: 90px;
  line-height: 96px;
}

h2 {
  font-family: Chronicle Display;
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 68px;
}

h3 {
  font-family: Chronicle Display;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 55px;
}

h4 {
  font-family: Chronicle Display;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 45px;
}

h5 {
  font-family: Chronicle Display;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 45px;
}

h6 {
  font-family: Chronicle Display;
  font-style: normal;
  font-weight: 325;
  font-size: 30px;
  line-height: 45px;
}

.big-size {
  font-size: 90px;
  line-height: 96px;
}

.underline {
  &:after {
    content: '';
    background: $orange;
    width: 60px;
    height: 2px;
    display: block;
  }
}