.layout-container {
  position: relative;
  padding-top: 10px;

  @include respond-above(sm) {
    padding-left: 70px;
    padding-top: inherit;
  }

  @include respond-above(lg) {
    padding-left: 90px;
  }
}

.container {
  @include make-container();
  @include make-container-max-widths();
}

.container-fluid {
  @include make-container();
}

.container-sm {
  @include respond-below(sm) {
    @include make-container();
    @include make-container-max-widths();
  }
}

.container-md {
  @include respond-below(md) {
    @include make-container();
    @include make-container-max-widths();
  }
}

.container-no-sm {
  @include respond-above(sm) {
    @include make-container();
    @include make-container-max-widths();
  }
}

.main-logo {
  overflow: hidden;
  display: none;

  @include respond-above(sm) {
    display: block;
  }

  img {
    float: right;
    max-width: 300px;

    @include respond-above(lg) {
      max-width: 430px;
    }
  }
}

.page-node-type-location {
  .main-logo {
    position: absolute;
    z-index: 10;
    right: 0;
  }
}

.xs {
  display: block;
  @include respond-above(sm) {
    display: none;
  }
}

.sm {
  display: none;
  @include respond-above(sm) {
    display: block;
  }
}

.md {
  display: none;
  @include respond-above(md) {
    display: block;
  }
}

.lg {
  display: none;
  @include respond-above(lg) {
    display: block;
  }
 }
