$p-font-stack: Proxima Nova Regular;
$h-font-stack: Chronicle Display Light;

$grey: #dad8d8;
$black: #000000;
$fog: #F7F7F7;
$white: #ffffff;
$crimson: #B30838;
$imperial-red: #E63946;
$orange: #FFAC5F;
$light-orange: transparentize($orange, 0.8);
$sea-foam: #A8DADC;
$sky-blue: #79B9ED;
$light-blue: transparentize($sky-blue, 0.8);
$pacific: #2C49A4;
$prussian: #1D3557;
$teal: #0097C7;
$gray: #CECECE;