$p-font-stack: Proxima Nova Regular;
$h-font-stack: Chronicle Display Light;

$black: #000000;
$fog: #F7F7F7;
$white: #ffffff;
$crimson: #B30838;
$imperial-red: #E63946;
$orange: #FFAC5F;
$sea-foam: #A8DADC;
$sky-blue: #79B9ED;
$pacific: #2C49A4;
$prussian: #1D3557;