@font-face {
  font-family: Chronicle Display Light;
  src: url(../fonts/Chronicle_Display/Chronicle_Display_Light.otf);
}

@font-face {
  font-family: Chronicle Display Semibold;
  src: url(../fonts/Chronicle_Display/Chronicle_Display_Semibold.otf);
}

@font-face {
  font-family: Proxima Nova Bold;
  src: url(../fonts/Proxima_Nova/Proxima_Nova_Bold.otf);
}

@font-face {
  font-family: Proxima Nova Regular;
  src: url(../fonts/Proxima_Nova/Proxima_Nova_Regular.otf);
}

@font-face {
  font-family: Proxima Nova Thin;
  src: url(../fonts/Proxima_Nova/Proxima_Nova_thin.otf);
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
How it works: The helper classes apply margin or padding to an element ranging from 0 to 5. Each size increment was designed
to align with common Material Design spacings. These classes can be applied using
the following format {property}{direction}-{size}.

The property applies the type of spacing:

m - applies margin p - applies padding The direction designates the side the property applies to:

t - applies the spacing for *-top
b - applies the spacing for *-bottom
l - applies the spacing for *-left
r - applies the spacing for *-right
x - applies the spacing for both -left and -right
y - applies the spacing for both -top and -bottom
a - applies the spacing for the property in all directions
 */
.px-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.py-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.pa-0 {
  padding: 0px 0px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.mx-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.my-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.ma-0 {
  margin: 0px 0px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.px-1 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.py-1 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.pa-1 {
  padding: 4px 4px !important;
}

.pt-1 {
  padding-top: 4px !important;
}

.pb-1 {
  padding-bottom: 4px !important;
}

.pl-1 {
  padding-left: 4px !important;
}

.pr-1 {
  padding-right: 4px !important;
}

.mx-1 {
  margin-left: 4px !important;
  margin-right: 4px !important;
}

.my-1 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.ma-1 {
  margin: 4px 4px !important;
}

.mt-1 {
  margin-top: 4px !important;
}

.mb-1 {
  margin-bottom: 4px !important;
}

.ml-1 {
  margin-left: 4px !important;
}

.mr-1 {
  margin-right: 4px !important;
}

.px-2 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.py-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.pa-2 {
  padding: 8px 8px !important;
}

.pt-2 {
  padding-top: 8px !important;
}

.pb-2 {
  padding-bottom: 8px !important;
}

.pl-2 {
  padding-left: 8px !important;
}

.pr-2 {
  padding-right: 8px !important;
}

.mx-2 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.my-2 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.ma-2 {
  margin: 8px 8px !important;
}

.mt-2 {
  margin-top: 8px !important;
}

.mb-2 {
  margin-bottom: 8px !important;
}

.ml-2 {
  margin-left: 8px !important;
}

.mr-2 {
  margin-right: 8px !important;
}

.px-3 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.py-3 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.pa-3 {
  padding: 16px 16px !important;
}

.pt-3 {
  padding-top: 16px !important;
}

.pb-3 {
  padding-bottom: 16px !important;
}

.pl-3 {
  padding-left: 16px !important;
}

.pr-3 {
  padding-right: 16px !important;
}

.mx-3 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.my-3 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.ma-3 {
  margin: 16px 16px !important;
}

.mt-3 {
  margin-top: 16px !important;
}

.mb-3 {
  margin-bottom: 16px !important;
}

.ml-3 {
  margin-left: 16px !important;
}

.mr-3 {
  margin-right: 16px !important;
}

.px-4 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.py-4 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.pa-4 {
  padding: 24px 24px !important;
}

.pt-4 {
  padding-top: 24px !important;
}

.pb-4 {
  padding-bottom: 24px !important;
}

.pl-4 {
  padding-left: 24px !important;
}

.pr-4 {
  padding-right: 24px !important;
}

.mx-4 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}

.my-4 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.ma-4 {
  margin: 24px 24px !important;
}

.mt-4 {
  margin-top: 24px !important;
}

.mb-4 {
  margin-bottom: 24px !important;
}

.ml-4 {
  margin-left: 24px !important;
}

.mr-4 {
  margin-right: 24px !important;
}

.px-5 {
  padding-left: 48px !important;
  padding-right: 48px !important;
}

.py-5 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}

.pa-5 {
  padding: 48px 48px !important;
}

.pt-5 {
  padding-top: 48px !important;
}

.pb-5 {
  padding-bottom: 48px !important;
}

.pl-5 {
  padding-left: 48px !important;
}

.pr-5 {
  padding-right: 48px !important;
}

.mx-5 {
  margin-left: 48px !important;
  margin-right: 48px !important;
}

.my-5 {
  margin-top: 48px !important;
  margin-bottom: 48px !important;
}

.ma-5 {
  margin: 48px 48px !important;
}

.mt-5 {
  margin-top: 48px !important;
}

.mb-5 {
  margin-bottom: 48px !important;
}

.ml-5 {
  margin-left: 48px !important;
}

.mr-5 {
  margin-right: 48px !important;
}

body {
  font-size: 16px;
  font-family: Proxima Nova Regular;
  color: #58595b;
}

a:hover {
  color: #d9d9d9;
}

li p {
  font-weight: 200;
  letter-spacing: 0.5px;
}

img, svg, video, audio {
  max-width: 100%;
}

button {
  border: none;
  text-align: center;
  cursor: pointer;
}

textarea {
  overflow: auto;
  font: inherit;
  margin: 0;
  resize: none;
}

input[type="text"] {
  color: #333;
  border-radius: 3px;
  padding: 12px 8px;
}

select {
  color: #333;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 12px 26px 12px 10px;
  width: 100%;
  border: none;
  background-color: transparent;
  background-image: none;
}

footer {
  bottom: 0;
  height: auto;
  padding-bottom: 40px;
}

.hidden {
  display: none;
}

p {
  line-height: 34px;
  letter-spacing: 0.315px;
  font-size: 1.3em;
  color: black;
}

ul li {
  font-size: 21px;
  line-height: 38px;
  letter-spacing: 0.315px;
  color: black;
}

ul li::before {
  content: "\2022";
  color: #B30838;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: 1em;
}

a {
  color: #B30838;
  font-size: 1.3em;
  line-height: 34px;
  font-family: Proxima Nova Regular;
  text-decoration: none;
  position: relative;
  padding-right: 20px;
}

a:hover {
  text-decoration: underline;
  color: #B30838;
}

a.bigger {
  text-transform: uppercase;
}

a:after {
  content: '';
  background: url("../images/icons/pointer-right.svg");
  width: 10px;
  height: 15px;
  display: block;
  position: absolute;
  right: 0px;
  top: 5px;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

h1 {
  font-family: Chronicle Display Light;
  font-style: normal;
  font-weight: 300;
  font-size: 5.6em;
  line-height: 96px;
  margin-bottom: 20px;
}

h2 {
  font-family: Chronicle Display Light;
  font-style: normal;
  font-weight: 300;
  font-size: 3.7em;
  line-height: 68px;
  margin-bottom: 20px;
}

h3 {
  font-family: Chronicle Display Light;
  font-style: normal;
  font-weight: normal;
  font-size: 3.1em;
  line-height: 55px;
  margin-bottom: 20px;
}

h4 {
  font-family: Chronicle Display Light;
  font-style: normal;
  font-weight: 300;
  font-size: 2.5em;
  line-height: 45px;
  margin-bottom: 20px;
}

h5 {
  font-family: Chronicle Display Light;
  font-style: normal;
  font-weight: 300;
  font-size: 2.5em;
  line-height: 45px;
  margin-bottom: 20px;
}

h6 {
  font-family: Chronicle Display Light;
  font-style: normal;
  font-weight: 325;
  font-size: 1.8em;
  line-height: 45px;
  margin-bottom: 20px;
}

.big-size {
  font-size: 5.6em;
  line-height: 96px;
}

.underline:after {
  content: '';
  background: #FFAC5F;
  width: 50px;
  height: 2px;
  display: block;
}

.alert {
  border: 1px solid red;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.alert-warning {
  background-color: #ffffff;
}

.alert-error {
  background-color: #ffffff;
}

.alert-success {
  background-color: #ffffff;
}

.alert-info {
  background-color: #ffffff;
}

.btn {
  padding: 15px 30px;
  text-transform: uppercase;
  border: 2px solid;
  font-family: Proxima Nova Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 0.875em;
  line-height: 14px;
  background: white;
}

.btn--primary {
  border: 2px solid #B30838;
  background: #ffffff;
  color: #B30838;
}

.btn--primary:hover {
  background: #B30838;
  color: #ffffff;
}

.btn--secondary {
  border: 2px solid #FFAC5F;
  background: #ffffff;
  color: #FFAC5F;
}

.btn--secondary:hover {
  background: #FFAC5F;
  color: #ffffff;
}

.nav-primary {
  background-color: #ffffff;
  height: 30px;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .nav-primary {
    display: none;
  }
}

.nav-primary__links__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 1440px;
}

.nav-primary__links {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: 50px;
  max-width: 550px;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .nav-primary__links {
    display: none;
    margin-right: 0;
    padding: 0 10px;
  }
}

.nav-primary__link {
  color: #000000 !important;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav-secondary {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-secondary__banner {
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10px;
}

@media only screen and (max-width: 800px) {
  .nav-secondary__banner {
    background-size: contain;
  }
}

.nav-secondary__content {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  padding: 15px 0;
}

.nav-secondary__content__logo {
  height: inherit;
  margin-left: 70px;
  margin-right: auto;
  padding-top: 10px;
}

@media only screen and (max-width: 950px) {
  .nav-secondary__content__logo {
    margin-left: 15px;
    margin-right: 20px;
  }
}

.nav-secondary__content__logo a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 161px;
}

@media only screen and (max-width: 950px) {
  .nav-secondary__content__logo a {
    width: 85px;
  }
}

.nav-secondary__content__logo a img {
  width: 70%;
}

@media only screen and (max-width: 950px) {
  .nav-secondary__content__logo a img {
    width: 100%;
  }
}

.nav-secondary__content__links {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

@media only screen and (max-width: 1100px) {
  .nav-secondary__content__links {
    width: 60%;
  }
}

@media only screen and (max-width: 1000px) {
  .nav-secondary__content__links {
    width: 75%;
  }
}

@media only screen and (max-width: 950px) {
  .nav-secondary__content__links {
    width: 100%;
  }
}

.nav-secondary__content__link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6px 0 5px 0;
  position: relative;
}

.nav-secondary__content__link .first {
  white-space: nowrap;
}

@media only screen and (max-width: 1024px) {
  .nav-secondary__content__link {
    display: none;
  }
}

.nav-secondary__content__link a {
  font-size: 14px;
}

.nav-secondary__content__link .top-link {
  border-bottom: 2px solid transparent;
  padding: 5px 3px 3px 3px;
}

.nav-secondary__content__link .default-cursor {
  cursor: default;
}

.nav-secondary-link .top-link, .nav-secondary-link span {
  color: #1d1d1d;
  font-size: 14px;
  height: 100%;
  padding-left: 3px;
  padding-right: 3px;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 2;
}

.nav-secondary__content__link__menu {
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.28);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.28);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: -15px;
  max-width: 220px;
  min-width: 120px;
  padding: 10px 15px;
  position: absolute;
  top: 35px;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
  z-index: 2;
  width: 100%;
}

.nav-secondary__search {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-right: 40px;
  padding: 8px;
}

.nav-secondary__search ::before, .nav-secondary__search ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 1024px) {
  .nav-secondary__search {
    margin-right: 0;
  }
}

.nav-secondary__search img {
  height: 20px;
  margin-right: 10px;
  width: 20px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.mobile-menu {
  display: none !important;
}

@media only screen and (max-width: 1024px) {
  .mobile-menu {
    display: block !important;
    font-size: 32px !important;
    margin-left: 0;
    margin-right: 10px;
    padding: 8px;
  }
}

.nav-secondary__mobile-top {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 25px;
  position: absolute;
  top: 25px;
  width: calc(100% - 50px);
}

.nav-secondary__mobile-top span .close {
  font-size: 32px;
}

.nav-secondary__mobile-link-group .active {
  background-color: #ffc40c;
  bottom: 0;
  display: block;
  overflow-y: scroll;
  padding-top: 75px;
  position: absolute;
  right: 0;
  top: -12px;
  width: 100%;
  z-index: 2;
}

.nav-secondary__mobile-link {
  display: none;
  padding: 10px 25px;
  position: relative;
}

.nav-secondary__mobile-link a .top-link {
  border-bottom: 2px solid transparent;
  padding: 5px 3px 3px 3px;
}

.nav-secondary__mobile-link a .top-link i {
  font-size: 36px !important;
  vertical-align: middle;
  float: right;
}

.nav-secondary__mobile-link__menu {
  padding: 10px 15px 0;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.nav-secondary__mobile__primary-link-group {
  border-top: 1px solid rgba(242, 242, 242, 0.4);
  margin: 0 auto;
  padding: 10px;
  display: none;
  width: calc(95% - 20px);
}

a .mobile-menu-link {
  color: #000000;
  display: block;
  margin: 0;
  padding: 10px 0;
  text-decoration: none;
  white-space: nowrap;
  width: 100%;
}

.bg-black {
  background-color: #000000 !important;
}

.bg-fog {
  background-color: #F7F7F7 !important;
}

.bg-crimson {
  background-color: #B30838 !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.bg-imperial-red {
  background-color: #E63946 !important;
}

.bg-orange {
  background-color: #FFAC5F !important;
}

.bg-sea-foam {
  background-color: #A8DADC !important;
}

.bg-sky-blue {
  background-color: #79B9ED !important;
}

.bg-pacific {
  background-color: #2C49A4 !important;
}

.bg-prussian {
  background-color: #1D3557 !important;
}

.color-black {
  color: #000000 !important;
}

.color-fog {
  color: #F7F7F7 !important;
}

.color-crimson {
  color: #B30838 !important;
}

.color-white {
  color: #ffffff !important;
}

.color-imperial-red {
  color: #E63946 !important;
}

.color-orange {
  color: #FFAC5F !important;
}

.color-sea-foam {
  color: #A8DADC !important;
}

.color-sky-blue {
  color: #79B9ED !important;
}

.color-pacific {
  color: #2C49A4 !important;
}

.color-prussian {
  color: #1D3557 !important;
}

.border-black {
  border-color: #000000 !important;
}

.border-fog {
  border-color: #F7F7F7 !important;
}

.border-crimson {
  border-color: #B30838 !important;
}

.border-white {
  border-color: #ffffff !important;
}

.border-imperial-red {
  border-color: #E63946 !important;
}

.border-orange {
  border-color: #FFAC5F !important;
}

.border-sea-foam {
  border-color: #A8DADC !important;
}

.border-sky-blue {
  colborder-coloror: #79B9ED !important;
}

.border-pacific {
  border-color: #2C49A4 !important;
}

.border-prussian {
  border-color: #1D3557 !important;
}

.card-image {
  position: relative;
  overflow: hidden;
}

.card-image--image {
  margin: 0px 15px;
  position: relative;
  z-index: 3;
}

@media (min-width: 768px) {
  .card-image--image {
    width: 70%;
    z-index: 2;
    position: absolute;
  }
}

.card-image--text {
  padding: 60px 45px 45px 45px;
  margin-top: -30px;
  letter-spacing: 0.315px;
  line-height: 34px;
  position: relative;
  z-index: 2;
}

.card-image--text p {
  color: #ffffff;
}

@media (min-width: 768px) {
  .card-image--text {
    width: 40%;
    z-index: 3;
    float: right;
    margin-top: 160px;
    padding: 60px 30px 65px 30px;
  }
}

@media (min-width: 992px) {
  .card-image--text {
    min-height: 400px;
    margin-top: 20%;
  }
}

.card-image--decoration-top {
  display: none;
  position: absolute;
  right: 125px;
}

@media (min-width: 768px) {
  .card-image--decoration-top {
    display: block;
  }
}

.card-image--decoration-button {
  margin-top: -45px;
  float: right;
  width: 30%;
  position: relative;
}

@media (min-width: 768px) {
  .card-image--decoration-button {
    position: absolute;
    bottom: 10px;
    right: 200px;
  }
}

.card-image--decoration-button .path-first {
  bottom: 2px;
  float: left;
  width: 20px;
  position: absolute;
  left: -20px;
}

@media (min-width: 768px) {
  .card-image--decoration-button .path-first {
    bottom: 180px;
    width: 40px;
  }
}

.card-video-hero {
  position: relative;
  overflow: hidden;
}

.card-video-hero--video {
  margin: 0px 15px;
  position: relative;
  z-index: 3;
}

@media (min-width: 768px) {
  .card-video-hero--video {
    width: 70%;
    z-index: 2;
    position: absolute;
  }
}

.card-video-hero--header {
  color: #2C49A4;
  line-height: 110%;
  position: relative;
  font-size: 50px;
  font-weight: 300;
}

.card-video-hero--text {
  padding: 18px 58px 121px 44px;
  height: 248px;
  display: block;
  margin-bottom: -30px;
  letter-spacing: 0.315px;
  line-height: 34px;
  position: relative;
  z-index: 1;
}

.card-video-hero--text h3 {
  color: #ffffff;
  font-size: 50px;
}

@media (min-width: 768px) {
  .card-video-hero--text {
    width: 40%;
    z-index: 3;
    float: right;
    margin-top: 160px;
    padding: 60px 30px 65px 30px;
  }
}

@media (min-width: 992px) {
  .card-video-hero--text {
    min-height: 400px;
    margin-top: 20%;
  }
}

.card-video-hero--decoration-top {
  display: none;
  position: absolute;
  right: 125px;
}

@media (min-width: 768px) {
  .card-video-hero--decoration-top {
    display: block;
  }
}

.card-video-hero--decoration-button {
  margin-top: -45px;
  float: right;
  width: 30%;
  position: relative;
}

@media (min-width: 768px) {
  .card-video-hero--decoration-button {
    position: absolute;
    bottom: 10px;
    right: 200px;
  }
}

.card-video-hero--decoration-button .path-first {
  bottom: 2px;
  float: left;
  width: 20px;
  position: absolute;
  left: -20px;
}

@media (min-width: 768px) {
  .card-video-hero--decoration-button .path-first {
    bottom: 180px;
    width: 40px;
  }
}

.accordion-item {
  background: #F7F7F7;
  margin-top: 1rem;
  padding: 16px 16px;
  position: relative;
  text-align: left;
}

.accordion-item.active .pointer {
  background: url("/images/icons/pointer-up.svg") no-repeat center center;
}

.accordion-item.active .accordion-body {
  max-height: 200vh;
}

.accordion-heading {
  cursor: pointer;
  padding-right: 64px;
}

.accordion-heading h6 {
  margin: initial;
  color: #2C49A4;
  font-size: 21px;
  font-family: Proxima Nova Regular;
}

.accordion-heading .pointer {
  width: 15px;
  height: 45px;
  background: url("/images/icons/pointer-down.svg") no-repeat center center;
  display: block;
  float: right;
  position: absolute;
  right: 16px;
  top: 16px;
}

.accordion-body {
  height: auto;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: .5s linear all;
  transition: .5s linear all;
}

.accordion-body:before {
  content: "";
  width: 100px;
  height: 3px;
  background: #FFAC5F;
  display: block;
  margin-bottom: 20px;
}

.callout {
  padding: 5em 0px;
}

.callout .callout-column {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

@media (min-width: 992px) {
  .callout .callout-column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

@media (min-width: 992px) {
  .callout .col-1 {
    padding-right: 20px;
  }
}

@media (min-width: 992px) {
  .callout .col-2 {
    padding-left: 20px;
  }
}

.callout img {
  width: 100%;
}

@media (min-width: 992px) {
  .callout img {
    width: initial;
  }
}

.block-two--column {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

@media (min-width: 992px) {
  .block-two--column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

.block-two .col-1 {
  margin-bottom: 40px;
}

@media (min-width: 992px) {
  .block-two .col-1 {
    margin-bottom: inherit;
    padding-right: 10px;
  }
}

@media (min-width: 992px) {
  .block-two .col-2 {
    padding-left: 10px;
  }
}

.block-two img {
  width: 100%;
}

@media (min-width: 992px) {
  .block-two img {
    width: initial;
  }
}

.block-quote--quote {
  position: relative;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .block-quote--quote {
    padding: 0px 40px;
  }
}

@media (min-width: 992px) {
  .block-quote--quote {
    padding: 0px 50px;
    max-width: 70%;
    margin: 30px auto 24px auto;
  }
}

.block-quote--quote p {
  color: #B30838;
  font-size: 1.6em;
  font-style: italic;
}

.block-quote--quote:before {
  content: "";
  width: 25px;
  height: 30px;
  display: block;
  background: url("../images/icons/quote-up.svg") no-repeat;
  background-size: 100% 100%;
  left: -10px;
  top: -30px;
  position: absolute;
}

@media (min-width: 768px) {
  .block-quote--quote:before {
    left: 0px;
    top: -10px;
    width: 35px;
    height: 40px;
  }
}

@media (min-width: 992px) {
  .block-quote--quote:before {
    width: 50px;
    height: 50px;
    top: -25px;
  }
}

.block-quote--quote:after {
  content: "";
  width: 25px;
  height: 30px;
  display: block;
  background: url("../images/icons/quote-down.svg") no-repeat;
  background-size: 100% 100%;
  right: -16px;
  position: absolute;
  bottom: -15px;
}

@media (min-width: 768px) {
  .block-quote--quote:after {
    right: 0px;
    bottom: -10px;
    width: 35px;
    height: 40px;
  }
}

@media (min-width: 992px) {
  .block-quote--quote:after {
    width: 50px;
    height: 50px;
    bottom: -25px;
  }
}

.block-quote--citation {
  text-transform: uppercase;
  text-align: center;
  color: #2C49A4;
  font-size: 1em;
}

.slider-controls {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-controls--left {
  width: 35px;
  height: 35px;
  background-color: #E63946;
  background-image: url("../images/icons/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.slider-controls--right {
  width: 35px;
  height: 35px;
  background-color: #E63946;
  background-image: url("../images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 2px;
  cursor: pointer;
}

@media (max-width: 575px) {
  .card-slider.container {
    padding: initial;
  }
}

@media (min-width: 992px) {
  .card-slider .col-1 {
    width: 70%;
    padding: 10px 0px 10px 10px;
  }
}

@media (min-width: 992px) {
  .card-slider .col-2 {
    width: 45%;
    position: absolute;
    bottom: 14%;
    right: 0px;
    z-index: 3;
    padding: 40px 20px;
  }
}

.card-slider .card-slide {
  position: relative;
}

.card-slider--image {
  padding: 0px 10px;
  position: relative;
}

@media (min-width: 576px) {
  .card-slider--image {
    padding: 0px 40px;
  }
}

.card-slider--image img {
  position: relative;
  z-index: 2;
}

.card-slider--image-title {
  position: absolute;
  bottom: 10px;
  left: 30px;
  z-index: 3;
}

@media (min-width: 576px) {
  .card-slider--image-title {
    bottom: 10px;
    left: 60px;
  }
}

@media (min-width: 992px) {
  .card-slider--image-title {
    bottom: 20px;
    left: 30px;
  }
}

.card-slider--image-title h4 {
  font-size: 1.8em;
  color: #ffffff;
}

@media (max-width: 767px) {
  .card-slider--image-title h4 {
    font-size: 1.8em;
  }
}

.card-slider--image-square {
  width: 60px;
  height: 60px;
  background: #FFAC5F;
  position: absolute;
  left: 5px;
  bottom: -4px;
  z-index: 1;
}

@media (min-width: 576px) {
  .card-slider--image-square {
    bottom: -5px;
    left: 34px;
  }
}

@media (min-width: 992px) {
  .card-slider--image-square {
    bottom: 0px;
    left: 0px;
  }
}

.card-slider--image-controls {
  position: absolute;
  right: 10px;
  bottom: 0px;
  z-index: 3;
}

@media (min-width: 576px) {
  .card-slider--image-controls {
    bottom: 0px;
    right: 40px;
  }
}

@media (min-width: 992px) {
  .card-slider--image-controls {
    right: 0px;
    bottom: 10px;
  }
}

.card-slider--text {
  padding: 60px 30px 30px 30px;
  margin-top: -30px;
}

.card-slider--text h2 {
  color: #ffffff;
}

@media (max-width: 767px) {
  .card-slider--text h2 {
    font-size: 2.5em;
    line-height: 40px;
  }
}

.card-slider--text p {
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */