.block-quote {

  &--quote {
    position: relative;
    padding: 50px;
    background: $fog;
    max-width: 850px;
    margin: auto;

    p {
      color: $prussian;
      font-size: 1.6em;
      font-style: italic;
    }

    &:before {
      content: "";
      width: 100px;
      height: 145px;
      background: $sea-foam;
      display: block;
      bottom: -10px;
      left: -10px;
      position: absolute;
      z-index: -1;

      @include respond-above(lg) {
        width: 100px;
        height: 113px;
        bottom: -12px;
        left: -12px;
      }
    }

    &:after {
      content: "";
      width: 60px;
      height: 112px;
      background: $orange;
      display: block;
      right: -10px;
      bottom: 20%;
      position: absolute;
      z-index: -1;

      @include respond-above(lg) {
        width: 100px;
        right: -15px;
        height: 80px;
      }
    }

  }
}