.card-image {
  position: relative;
  padding-top: 25px;
  overflow: hidden;

  @include respond-above(md) {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @include respond-above(lg) {
    overflow: initial;
  }

  &::before {
    content: "";
    width: 50%;
    height: 100%;
    background: $light-orange;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;

    @include respond-above(lg) {
      margin-left: -20%;
    }
  }

  h1 {
    margin: 0px 15px;
  }

  &.container {
    @include respond-below(md) {
      width: auto;
      margin: initial;
      padding: initial;
      max-width: none;
    }
  }

  &--image {
    margin: 0px 15px;
    position: relative;
    z-index: 3;

    img {
      @include respond-above(lg) {
        width: 100%;
      }
    }

    @include respond-above(md) {
      width: 90%;
      z-index: 2;
      position: absolute;

      &::after {
        content: "";
        width: 20px;
        height: 100px;
        background: $crimson;
        display: block;
        position: absolute;
        right: -10px;
        bottom: 100px;
        z-index: -1;
      }
    }
    @include respond-above(lg) {
      padding-left: 70px;
      width: auto;
      position: relative;
    }

  }

  &--text {
    padding: 60px 45px 45px 45px;
    margin-top: -30px;
    letter-spacing: 0.315px;
    line-height: 34px;
    position: relative;
    z-index: 2;

    p {
      color: $white;
    }

    @include respond-above(md) {
      width: 70%;
      z-index: 3;
      float: left;
      margin-top: 35%;
      padding: 50px;
    }

    @include respond-above(lg) {
      width: 40%;
      position: absolute;
      bottom: 15%;
      margin-top: initial;
      padding: 30px;
      min-width: 425px;
      left: -16px;
    }
  }

  &--decoration-top {
    display: none;
    position: absolute;
    right: 125px;

    @include respond-above(md) {
      display: block;
    }
  }

  &--decoration-button {
    margin-top: -45px;
    float: right;
    width: 30%;
    position: relative;

    @include respond-above(md) {
      position: absolute;
      bottom: 10px;
      right: 200px;
    }

    .path-first {
      bottom: 2px;
      float: left;
      width: 20px;
      position: absolute;
      left: -20px;

      @include respond-above(md) {
        bottom: 180px;
        width: 40px;
      }
    }
  }
}
