.header-quick-links {

  .header-media-wrap {
    position: relative;
    min-height: 400px;
    display: flex;
    flex-direction: column-reverse;

    @include respond-above(md) {
      min-height: 500px;
    }

    @include respond-above(lg) {
      min-height: 600px;
    }

    .header-media {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;

      .contextual-region {
        position: initial;
      }
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .header-media-head {
      position: relative;
      z-index: 2;

      &--heading {
        margin-bottom: 40px;

        @include respond-above(md) {
          max-width: 70%;
        }
      }
    }
  }

  .header-quick-content {
    display: flex;
    flex-flow: column;

    @include respond-above(md) {
      flex-flow: row;
    }

    h4 {
      font-family: Proxima Nova Bold;
    }

    a {
      font-family: Proxima Nova Regular;
      text-transform: uppercase;
      padding: 10px 0px;
      color: $prussian;
      text-decoration: none;
      display: block;

      &:hover {
        color: $crimson;
      }
    }


    &--text {
      @include respond-above(md) {
        width: 70%;
        padding-right: 48px;
      }
    }

    &--wrap {
      @include respond-above(md) {
        width: 30%;
        margin-top: -50px;
        position: relative;
        z-index: 1;
      }
    }

    &--links {
      position: relative;

      &:before {
        content: "";
        width: 116px;
        height: 116px;
        background: $orange;
        display: block;
        bottom: -10px;
        left: -10px;
        position: absolute;
        z-index: -1;

        @include respond-above(md) {
          width: 100px;
          height: 100px;
        }
      }

      &:after {
        content: "";
        width: 116px;
        height: 116px;
        background: $imperial-red;
        display: block;
        right: -10px;
        top: 20%;
        position: absolute;
        z-index: -1;

        @include respond-above(md) {
          width: 100px;
          height: 100px;
        }

      }
    }
  }
}
