.new-stories {
  &--heading {

    h2 {
      @include respond-above(lg) {
        font-size: 8em;
        line-height: 121px;
      }
    }
    @include respond-above(sm) {
      margin-right: 30%;
      float: right;
      margin-bottom: -50px;
      position: relative;
    }

    @include respond-above(lg) {
      margin-bottom: -80px;
    }
  }

  &--wrap {
    @include respond-above(sm) {
      display: flex;
      width: 100%;
    }

    .col-1 {
      @include respond-above(sm) {
        width: 60%;
        padding-right: 40px;
        padding-top: 60px;
      }

      @include respond-above(lg)  {
        width: 50%;
        padding-top: 100px;
      }
    }

    .col-2 {
      @include respond-above(sm) {
        width: 40%;
      }

      @include respond-above(lg) {
        width: 50%;
      }
    }
  }

  &--text {
    padding-top: 30px;
    padding-bottom: 30px;

    @include respond-above(sm) {
      padding-left: 30px;
    }

    h6 {
      font-family:Proxima Nova Regular;
      font-size: 1.625em;
      line-height: 30px;
      color: $black;
      font-weight: 600;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 20px;
    }
  }

  &--subtitle {
    color: $celadon;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 1.3px;
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
  }

  &--articles {
    padding-top: 30px;
    padding-bottom: 30px;

    @include respond-above(sm) {
      padding: 60px 30px 30px 30px;
    }

    @include respond-above(lg) {
      padding: 100px 40px 40px 40px;
    }

    h6 {
      font-family: Proxima Nova Bold;
      font-size: 1.375em;
      line-height: 27px;
      text-transform: uppercase;
      color: $prussian;
      margin-bottom: 40px;

      &.underline:after {
        background: $crimson;
      }
    }
  }

  &--article {
    padding-bottom: 60px;

    @include respond-above(lg) {
      display: flex;
    }

    &-media {
      @include respond-above(lg) {
        width: 40%;
      }

      img {
        width: 100%;
        @include respond-above(lg) {
          min-height: 130px;
          object-fit: cover;
        }
      }
    }

    &-text {
      @include respond-above(lg) {
        width: 60%;
        padding-left: 20px;
      }
    }

    &-subtitle {
      color: $crimson;
      text-transform: uppercase;
      font-size: 1em;
      letter-spacing: 1.3px;
      font-weight: 600;
      margin-bottom: 10px;
      margin-top: 10px;
      display: block;

      @include respond-above(lg) {
        margin-top: initial;
      }
    }

    a {
      display: inherit;
      text-decoration: none;
    }
  }

}