.program-cta {

  &--wrapper {
    @include respond-above(sm) {
      overflow: hidden;
    }

    @include respond-above(lg) {
      display: flex;
    }
  }

  &--col {
    &.col-1 {

      @include respond-above(sm) {
        width: 90%;
      }

      @include respond-above(lg) {
        width: 60%;

      }

      .program-cta--col-wrap {
        @include respond-above(sm) {
          padding: 0px 30px;
        }

        @include respond-above(lg) {
          padding: 0px 100px 0px 30px;
        }
      }

      .program-cta--cta {
        @include respond-above(sm) {
          margin-bottom: 90px;
        }

        @include respond-above(lg) {
          margin-bottom: 30px;
        }

        .field__item {
          display: flex;
        }

        a {
          @extend .btn;
          @extend .btn--primary;
        }
      }

      .program-cta--text {
        color: $black;

        p {
          color: $black;
        }
      }
    }

    &.col-2 {

      @include respond-above(sm) {
        margin-top: -50px;
        margin-left: 50px;
      }

      @include respond-above(lg) {
        width: 40%;
        margin: initial;
      }

      .program-cta--col-wrap {
        @include respond-above(sm) {
          padding: 0px 30px;
        }
        @include respond-above(lg) {
          margin-left: -60px;
          margin-top: 20%;
        }
      }

      .program-cta--cta {
        .field__item {
          display: flex;
        }

        a {
          @extend .btn;
          @extend .btn--white-celadon;
        }
      }

      .program-cta--text {
        color: $white;
        
        p {
          color: $white;
        }
      }
    }
  }

  &--cta {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

}
