.program-option {

  &--item-wrap {
    @include respond-above(lg) {
      display: flex;
    }
  }

  &--col {

    &.col-1 {

      @include respond-above(lg) {
        width: 70%;
      }

      .program-option--col-col {
        border: 1px solid;
        padding: 30px 30px 100px 30px;

        @include respond-above(lg) {
          padding: 30px 150px 30px 30px;
        }
      }

      .program-option--col-text {
        border-top: 1px solid $orange;
        padding-top: 30px;
      }
    }

    &.col-2 {
      display: flex;
      justify-content: center;

      @include respond-above(lg) {
        width: 30%;
        align-items: center;
      }

      .program-option--col-col {
        padding: 30px;
        margin: -50px 20px 0px 20px;
        max-width: 400px;
        width: 100%;

        @include respond-above(lg) {
          max-width: initial;
          display: block;
          margin: 0px 0px 0px -50%;
          width: auto;
        }
      }

      h6 {
        font-family: Proxima Nova Bold;
        text-transform: uppercase;
        font-size: 1.3em;
        line-height: initial;
      }
    }
  }

  ul {
    li {
      margin-bottom: 10px;
      font-size: 1.3em;

      &:before {
        content: url("../images/icons/check-red.svg");
        margin-right: 10px;
      }
    }
  }

}