.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.nav-secondary {
  //background-color: $orange;
  width: 100%;
  align-items: center;
}
.nav-secondary__banner {
  //background-image: url('');
  //background-color: $blue--persian;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 10px;
  @media only screen and (max-width:800px) {
    background-size: contain;
  }
}

.nav-secondary__content {
  height: 100%;
  align-items: center;
  display: flex;
  max-width: 1440px;
  padding: 15px 0;
}

.nav-secondary__content__logo {
  height: inherit;
  margin-left: 70px;
  margin-right: auto;
  padding-top:10px;

  @media only screen and (max-width: 950px) {
    margin-left: 15px;
    margin-right: 20px;
  }
  a {
    align-items: center;
    display: flex;
    height: 100%;
    width: 161px;
    @media only screen and(max-width: 950px) {
      width: 85px;
    }
  }
  a img {
    width: 70%;
    @media only screen and (max-width:950px) {
      width: 100%;
    }
  }
}
.nav-secondary__content__links {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;
  width: 50%;

  @media only screen and (max-width: 1100px) {
    width: 60%;
  }
  @media only screen and (max-width: 1000px) {
    width: 75%;
  }
  @media only screen and (max-width: 950px) {
    width: 100%;
  }
}
.nav-secondary__content__link {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 6px 0 5px 0;
  position: relative;
  .first {
    white-space: nowrap;
  }
  @media only screen and (max-width: 1024px) {
    display:none;
  }


  a {
   // color: $blue--persian;
    font-size: 14px;
  }
  .top-link {
    border-bottom: 2px solid transparent;
    padding: 5px 3px 3px 3px;
  }
  .default-cursor {
    cursor: default;
  }
}
.nav-secondary-link .top-link, .nav-secondary-link span {
  color: #1d1d1d;
  font-size: 14px;
  height: 100%;
  padding-left: 3px;
  padding-right: 3px;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 2;
}
.nav-secondary__content__link__menu {
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .28);
  display: none;
  flex-direction: column;
  left: -15px;
  max-width: 220px;
  min-width: 120px;
  padding: 10px 15px;
  position: absolute;
  top: 35px;
  transition: 150ms ease-in-out;
  z-index: 2;
  width: 100%;
}

.nav-secondary__search {
  align-items: center;
  display: flex;
  height: 100%;
  margin-right: 40px;
  padding: 8px;
  ::before, ::after {
    box-sizing: border-box;
  }
  @media only screen and (max-width:1024px) {
    margin-right: 0;
  }
  img {
    height: 20px;
    margin-right: 10px;
    width: 20px;
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
.mobile-menu {
  display: none !important;
  @media only screen and (max-width:1024px) {
    display: block !important;
    font-size: 32px !important;
    margin-left: 0;
    margin-right: 10px;
    padding: 8px;
  }
}
.nav-secondary__mobile-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  position: absolute;
  top: 25px;
  width: calc(100% - 50px);

  span {

    .close {
      font-size: 32px;
    }

  }
}

.nav-secondary__mobile-link-group {
  .active {
    background-color: #ffc40c;
    bottom: 0;
    display: block;
    overflow-y: scroll;
    padding-top: 75px;
    position: absolute;
    right: 0;
    top: -12px;
    width: 100%;
    z-index: 2;
  }
}

.nav-secondary__mobile-link {
  display: none;
  padding: 10px 25px;
  position: relative;

  a .top-link {
    border-bottom: 2px solid transparent;
    padding: 5px 3px 3px 3px;

    i {
      font-size: 36px !important;
      vertical-align: middle;
      float: right;
    }
  }
}
.nav-secondary__mobile-link__menu {
  padding: 10px 15px 0;
  transition: 150ms ease-in-out;
}
.nav-secondary__mobile__primary-link-group {
  border-top: 1px solid rgba(242, 242, 242, .4);
  margin: 0 auto;
  padding: 10px;
  display: none;
  width: calc(95% - 20px);
}
a .mobile-menu-link {
  color: $black;
  display: block;
  margin: 0;
  padding: 10px 0;
  text-decoration: none;
  white-space: nowrap;
  width: 100%;
}