<section class="carousel">
    <header class="container">
        <h2 class="color-pacific">
            Our Community
        </h2>
    </header>

    <div class="slider carousel-slider">

        <div class="carousel-slider--item">
            <div class="carousel-slider--media">
                <img src="images/image33.png">
            </div>
            <div class="carousel-slider--text">
                <span class="carousel-slider--text-title">
                    Spotlight
                </span>
                <p>
                    This is a featured spotlight title that may span two to three lines
                </p>
            </div>
        </div>
        <div class="carousel-slider--item">
            <div class="carousel-slider--media">
                <img src="images/image35.png">
            </div>
            <div class="carousel-slider--text">
                <span class="carousel-slider--text-title">
                    Spotlight
                </span>
                <p>
                    This is a featured spotlight title that may span two to three lines
                </p>
            </div>
        </div>
        <div class="carousel-slider--item">
            <div class="carousel-slider--media">
                <img src="images/image36.png">
            </div>
            <div class="carousel-slider--text">
                <span class="carousel-slider--text-title">
                    Spotlight
                </span>
                <p>
                    This is a featured spotlight title that may span two to three lines
                </p>
            </div>
        </div>
        <div class="carousel-slider--item">
            <div class="carousel-slider--media">
                <img src="images/image33.png">
            </div>
            <div class="carousel-slider--text">
                <span class="carousel-slider--text-title">
                    Spotlight
                </span>
                <p>
                    This is a featured spotlight title that may span two to three lines
                </p>
            </div>
        </div>
        <div class="carousel-slider--item">
            <div class="carousel-slider--media">
                <img src="images/image36.png">
            </div>
            <div class="carousel-slider--text">
                <span class="carousel-slider--text-title">
                    Spotlight
                </span>
                <p>
                    This is a featured spotlight title that may span two to three lines
                </p>
            </div>
        </div>

    </div>

</section>