<section class="card-experience-relay card-heading card-text--left mb-5">
    <div class="card-experience-relay--header">
        <h3 class="color-pacific">
            Experience Relay
        </h3>
    </div>
    
        <div class="card-experience-relay--hero-image">
            <img class="media" src="images/hero_video.png" alt="" >
            <div class="card-experience-relay--text bg-teal color-white">
                <div class="card-experience-relay--stat">
                    <h3>
                        400k
                    </h3>
                    <span>Students educated by Relay Teachers</span>
                </div>
                <div class="card-experience-relay--stat">
                    <h3>
                        5000+
                    </h3>
                    <span>Teachers</span>
                </div>
                <div class="card-experience-relay--stat">
                    <h3>
                        1200+
                    </h3>
                    <span>School Leaders</span>
                </div>
                <a href="" class="link link-white link-right-arrow">see our impact</a>
            </div>
           
            
    </div>
<!--    <div class="card-image&#45;&#45;decoration-button">-->
<!--        <img class="path-first" src="images/path1.png" alt="">-->
<!--        <img class="path-second" src="images/path2.png" alt="">-->
<!--    </div>-->

</section>