<section class="explore-programs container py-5">

    <div class="explore-programs--icons">
        <article>
            <header>
                <h2 class="color-pacific">Explore Programs</h2>
            </header>
        </article>

        <div class="explore-programs--icons-icons">
            <div class="explore-programs-icon">
                <div class="explore-programs-icon-image">
                    <img src="images/individuals.svg">
                </div>
                <button type="button" class="btn btn--primary">For Individuals</button>
            </div>
            <div class="explore-programs-icon">
                <div class="explore-programs-icon-image">
                    <img src="images/institutions.svg">
                </div>
                <button type="button" class="btn btn--primary">For Institutions</button>
            </div>
        </div>
    </div>

    <div class="explore-programs--text">
        <div class="explore-programs--text-text">
            <p>
                Relay’s programs prepare current and future teachers and education leaders to reach diverse groups of
                students and transform student lives. Whether you are looking to partner with us to certify and educate
                your teachers or further education for yourself, Relay has a program for you.
            </p>
        </div>
    </div>

</section>