<section class="find-location container my-5">

    <div class="find-location--image">
        <div class="find-location--image-img">
            <img src="images/image19.png">
            <div class="find-location--image-heading container">
                <h6 class="underline color-white">Relay Atlanta</h6>
            </div>
        </div>

    </div>

    <div class="find-location--location container">
        <div class="find-location--location-wrap bg-pacific py-5">
            <h3 class="color-white">Find a location</h3>
            <p>
                With campuses across the country and online classes available anywhere, Relay impacts students across
                America.
                Select the state you would like to teach in to learn about the options in your area.
            </p>
            <div class="find-location--dropdown-container bg-white find-location--dropdown-container bg-white mt-5">
                <select name="states" id="find-location" class="color-pacific">
                    <option value="">- Select a State -</option>
                    <option value="Texas">Texas</option>
                    <option value="Oklahoma">Oklahoma</option>
                    <option value="Michigan">Michigan</option>
                    <option value="Wisconsin">Wisconsin</option>
                    <option value="Nevada">Nevada</option>
                </select>
                <button type="button" class="btn btn--primary">Continue</button>
            </div>
        </div>
    </div>
</section>
