<section class="footer">
  <div id="footer--our-programs" class="bg-prussian color-white p-mobile-40">
    <h3 class="color-sea-foam">Our Programs</h3>
    <ul class="footer--program-listing">
      <li class="footer--list-head">For Individuals</li>
      <ul class="footer--link-list">
        <li class="footer--list-subitem">Masters of Arts in Teaching</li>
        <li class="footer--list-subitem">Alternate Certification</li>
        <li class="footer--list-subitem">Certifications</li>
        <li class="footer--list-subitem">Professional Education</li>
        <li class="footer--list-subitem">Leadership Programs</li>
      </ul>
    </ul>
    <ul class="footer--program-listing">
      <li class="footer--list-head">For Organizations</li>
      <ul class="footer--link-list">
        <li class="footer--list-subitem">Teacher Pipeline</li>
        <li class="footer--list-subitem">Continuing Education</li>
      </ul>
    </ul>
  </div>
  <div id="footer--program-locations" class="bg-black p-mobile-40">
    <h3 class="color-sea-foam">Locations</h3>
    <p class="footer--location-text color-fog">
      Select the location you would like to teach in to learn about the options
      in your area.
    </p>
    <div class="footer--location-search">
      <div class="select-state select-state--dropdown-container bg-white">
        <select name="states" id="state-select" class="color-pacific">
          <option value="">- Select a Location -</option>
          <option value="Texas">Texas</option>
          <option value="Oklahoma">Oklahoma</option>
          <option value="Michigan">Michigan</option>
          <option value="Wisconsin">Wisconsin</option>
          <option value="Nevada">Nevada</option>
        </select>
        <button type="button" class="btn btn--primary">Continue</button>
      </div>
    </div>
    <div id="footer--social">
      <ul>
        <li><a href=""><img src="images/icons/Youtube.png" alt="youtube icon" /></a></li>
        <li><a href=""><img src="images/icons/Facebook.png"" alt="facebook icon"></a></li>
        <li><a href=""><img src="images/icons/linkedin-icon.png"" alt="linkedin icon"></a></li>
        <li><a href=""><img src="images/icons/Twitter.png"" alt="twitter icon"></a></li>
        <li><a href=""><img src="images/icons/Instagram.png"" alt="instagram icon"></a></li>
      </ul>
    </div>
  </div>
  <div id="footer--copyright" class="bg-white p-mobile-12">
    <p class="footer--copyright-text color-prussian">
      Copyright @2020 Relay Graduate School of Education
    </p>
    <ul>
      <li class="footer--copyright-li">Privacy Policy</li>
      <li class="footer--copyright-li">Cookie Policy</li>
    </ul>
  </div>
</section>
