<section class="container">
<section class="bg-prussian form-prussian">
    <div class="inline-fields">
        <div class="form-item">
            <label for="fname">First Name<span class="mandatory">*</span></label>
            <input type="text" id="fname" name="fname">
        </div>
        <div class="form-item">
            <label for="lname">Last Name<span class="mandatory">*</span></label>
            <input type="text" id="lname" name="lname">
        </div>
    </div>

    <div class="form-item">
        <label for="w3review">Message<span class="mandatory">*</span></label>
        <textarea id="w3review" name="w3review" rows="10">

        </textarea>
    </div>

    <div class="components">
        <div class="form-item">
            <select name="state" id="state">
                <option value="">- Select a Location -</option>
                <option value="new-york">New York</option>
                <option value="chicago">Chicago</option>
                <option value="oregon">Oregon</option>
                <option value="florida">Florida</option>
            </select>
        </div>

        <div class="form-item">
            <div class="swith-wrap">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
                <label>Switch Label Off</label>
            </div>
        </div>

        <div class="form-item">
            <div class="swith-wrap">
                <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                </label>
                <label>Switch Label On</label>
            </div>
        </div>
        <div class="form-item">
            <input class="btn btn--form" type="submit" value="Submit Form">
        </div>
    </div>

</section>
</section>