<section class="header-quick-links">
    <div class="header-media-wrap">
        <div class="header-media">
            <img src="images/image14.png">
        </div>

        <div class="container header-media-head">
            <div class="header-media-head--heading">
                <h1 class="underline color-white">Relay Atlanta</h1>
            </div>

        </div>
    </div>

    <div class="header-quick-content container">
        <div class="header-quick-content--text py-5">
            <p>
                This “City in a Forest” is the birthplace of the Civil Rights Movement, the economic heart of the South,
                and a thriving and diverse community.
            </p>
            <p>
                Here in Atlanta, Relay has built a community of practitioners focused on K-12 student achievement and
                teacher well-being. Here in Atlanta, Relay has built a community of practitioners focused on K-12 student
                achievement and teacher well-being.
            </p>
        </div>
        <div class="header-quick-content--wrap ">
            <div class="header-quick-content--links py-5 px-5 bg-sea-foam">
                <h4 class="color-prussian">Quick Links</h4>
                <ul>
                    <li><a href="#">Programs</a></li>
                    <li><a href="#">Experience</a></li>
                    <li><a href="#">Atlanta Partners</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>

</section>
