<section class="container-no-sm home-header py-5">
    <article>
        <header class="container-sm">
            <h1 class="color-pacific">Transforming Education</h1>
        </header>
        <div class="home-header--wrap">
            <div class="slider text-slider container-sm">
                <div class="text-slider-item">
                    <div class="home-header--slide-text">
                        <span>One</span>
                        <span class="underline-text">teacher</span>
                        <span>at a time</span>
                    </div>
                </div>
                <div class="text-slider-item">
                    <div class="home-header--slide-text">
                        <span>One</span>
                        <span class="underline-text">teacher</span>
                        <span>at a time</span>
                    </div>
                </div>
                <div class="text-slider-item">
                    <div class="home-header--slide-text">
                        <span>One</span>
                        <span class="underline-text">teacher</span>
                        <span>at a time</span>
                    </div>
                </div>
                <div class="text-slider-item">
                    <div class="home-header--slide-text">
                        <span>One</span>
                        <span class="underline-text">teacher</span>
                        <span>at a time</span>
                    </div>
                </div>
            </div>
            <div class="home-header--media">
                <iframe width="100%" src="https://www.youtube.com/embed/pgk-719mTxM?enablejsapi=1&controls=0&fs=0&iv_load_policy=3&rel=0&showinfo=0">
                </iframe>
            </div>
        </div>
    </article>

</section>