<section class="large-profiles container py-5 my-5">

    <div class="large-profiles--wrap">
        <header>
            <h2 class="color-pacific">Section title goes here</h2>
        </header>

        <div class="large-profiles--text">
            Meet the team behind Relay's Professional Education Programs.
        </div>

        <div class="large-profiles--profiles pt-5">

            <div class="large-profiles--profile profile-1">
                <a href="#profile-1" rel="modal:open">
                    <div class="large-profiles--profile-box">
                        <div class="large-profiles--profile-media">
                            <img src="images/image85.png">
                        </div>
                        <div class="large-profiles--profile-text">
                            <h5>Zach Blattner</h5>
                            <span class="subtitle">
                                Role/subtitle
                            </span>
                        </div>
                    </div>
                </a>
                <div id="profile-1" class="modal relay-modal large-profiles--modal">
                    <div class="large-profiles--profile-wrap">
                        <header>
                            <h3>Zach Blattner</h3>
                            <span class="subtitle">
                                Subtitle / Role
                            </span>
                        </header>
                        <div class="large-profiles--profile-bio">
                            <div class="large-profiles--bio-media-wrap">
                                <div class="large-profiles--bio-media">
                                    <img src="images/image85.png">
                                </div>
                            </div>
                            <div class="large-profiles--bio-text">
                                <p>
                                    Before launching Relay’s Professional Education team, Zach helped found Relay
                                    Online in 2017, where he provided instruction and advising to hundreds of English
                                    teachers across the country. In that role, he worked to apply the strong adult
                                    facilitation skills he developed as an instructor and school leader in combination
                                    with digital technologies and tools to ensure rigorous interactive online learning.
                                    Zach has also recently served as a consultant to organizations striving to strengthen
                                    the quality and impact of their synchronous online offerings, including Next Gen
                                    Personal Finance (his podcast with the Next Gen co-founder on online learning
                                    techniques is here), Philly Academy of School Leaders, and The Together Group.
                                    Prior to joining Relay Online, Zach served as the first Assistant Professor of Practice
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="large-profiles--profile profile-2">
                <a href="#profile-2" rel="modal:open">
                    <div class="large-profiles--profile-box">
                        <div class="large-profiles--profile-media">
                            <img src="images/image85.png">
                        </div>
                        <div class="large-profiles--profile-text">
                            <h5>Zach Blattner</h5>
                            <span class="subtitle">
                                Role/subtitle
                            </span>
                        </div>
                    </div>
                </a>
                <div id="profile-2" class="modal relay-modal large-profiles--modal">
                    <div class="large-profiles--profile-wrap">
                        <header>
                            <h3>Zach Blattner</h3>
                            <span class="subtitle">
                                Subtitle / Role
                            </span>
                        </header>
                        <div class="large-profiles--profile-bio">
                            <div class="large-profiles--bio-media-wrap">
                                <div class="large-profiles--bio-media">
                                    <img src="images/image85.png">
                                </div>
                            </div>
                            <div class="large-profiles--bio-text">
                                <p>
                                    Before launching Relay’s Professional Education team, Zach helped found Relay
                                    Online in 2017, where he provided instruction and advising to hundreds of English
                                    teachers across the country. In that role, he worked to apply the strong adult
                                    facilitation skills he developed as an instructor and school leader in combination
                                    with digital technologies and tools to ensure rigorous interactive online learning.
                                    Zach has also recently served as a consultant to organizations striving to strengthen
                                    the quality and impact of their synchronous online offerings, including Next Gen
                                    Personal Finance (his podcast with the Next Gen co-founder on online learning
                                    techniques is here), Philly Academy of School Leaders, and The Together Group.
                                    Prior to joining Relay Online, Zach served as the first Assistant Professor of Practice
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="large-profiles--profile profile-3">
                <a href="#profile-3" rel="modal:open">
                    <div class="large-profiles--profile-box">
                        <div class="large-profiles--profile-media">
                            <img src="images/image85.png">
                        </div>
                        <div class="large-profiles--profile-text">
                            <h5>Zach Blattner</h5>
                            <span class="subtitle">
                                Role/subtitle
                            </span>
                        </div>
                    </div>
                </a>
                <div id="profile-3" class="modal relay-modal large-profiles--modal">
                    <div class="large-profiles--profile-wrap">
                        <header>
                            <h3>Zach Blattner</h3>
                            <span class="subtitle">
                                Subtitle / Role
                            </span>
                        </header>
                        <div class="large-profiles--profile-bio">
                            <div class="large-profiles--bio-media-wrap">
                                <div class="large-profiles--bio-media">
                                    <img src="images/image85.png">
                                </div>
                            </div>
                            <div class="large-profiles--bio-text">
                                <p>
                                    Before launching Relay’s Professional Education team, Zach helped found Relay
                                    Online in 2017, where he provided instruction and advising to hundreds of English
                                    teachers across the country. In that role, he worked to apply the strong adult
                                    facilitation skills he developed as an instructor and school leader in combination
                                    with digital technologies and tools to ensure rigorous interactive online learning.
                                    Zach has also recently served as a consultant to organizations striving to strengthen
                                    the quality and impact of their synchronous online offerings, including Next Gen
                                    Personal Finance (his podcast with the Next Gen co-founder on online learning
                                    techniques is here), Philly Academy of School Leaders, and The Together Group.
                                    Prior to joining Relay Online, Zach served as the first Assistant Professor of Practice
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="large-profiles--profiles small pt-5">

            <div class="large-profiles--profile profile-4">
                <a href="#profile-4" rel="modal:open">
                    <div class="large-profiles--profile-box">
                        <div class="large-profiles--profile-media">
                            <img src="images/image85.png">
                        </div>
                        <div class="large-profiles--profile-text">
                            <h5>Zach Blattner</h5>
                            <span class="subtitle">
                                Role/subtitle
                            </span>
                        </div>
                    </div>
                </a>
                <div id="profile-4" class="modal relay-modal large-profiles--modal">
                    <div class="large-profiles--profile-wrap">
                        <header>
                            <h3>Zach Blattner</h3>
                            <span class="subtitle">
                                Subtitle / Role
                            </span>
                        </header>
                        <div class="large-profiles--profile-bio">
                            <div class="large-profiles--bio-media-wrap">
                                <div class="large-profiles--bio-media">
                                    <img src="images/image85.png">
                                </div>
                            </div>
                            <div class="large-profiles--bio-text">
                                <p>
                                    Before launching Relay’s Professional Education team, Zach helped found Relay
                                    Online in 2017, where he provided instruction and advising to hundreds of English
                                    teachers across the country. In that role, he worked to apply the strong adult
                                    facilitation skills he developed as an instructor and school leader in combination
                                    with digital technologies and tools to ensure rigorous interactive online learning.
                                    Zach has also recently served as a consultant to organizations striving to strengthen
                                    the quality and impact of their synchronous online offerings, including Next Gen
                                    Personal Finance (his podcast with the Next Gen co-founder on online learning
                                    techniques is here), Philly Academy of School Leaders, and The Together Group.
                                    Prior to joining Relay Online, Zach served as the first Assistant Professor of Practice
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="large-profiles--profile profile-5">
                <a href="#profile-5" rel="modal:open">
                    <div class="large-profiles--profile-box">
                        <div class="large-profiles--profile-media">
                            <img src="images/image85.png">
                        </div>
                        <div class="large-profiles--profile-text">
                            <h5>Zach Blattner</h5>
                            <span class="subtitle">
                                Role/subtitle
                            </span>
                        </div>
                    </div>
                </a>
                <div id="profile-5" class="modal relay-modal large-profiles--modal">
                    <div class="large-profiles--profile-wrap">
                        <header>
                            <h3>Zach Blattner</h3>
                            <span class="subtitle">
                                Subtitle / Role
                            </span>
                        </header>
                        <div class="large-profiles--profile-bio">
                            <div class="large-profiles--bio-media-wrap">
                                <div class="large-profiles--bio-media">
                                    <img src="images/image85.png">
                                </div>
                            </div>
                            <div class="large-profiles--bio-text">
                                <p>
                                    Before launching Relay’s Professional Education team, Zach helped found Relay
                                    Online in 2017, where he provided instruction and advising to hundreds of English
                                    teachers across the country. In that role, he worked to apply the strong adult
                                    facilitation skills he developed as an instructor and school leader in combination
                                    with digital technologies and tools to ensure rigorous interactive online learning.
                                    Zach has also recently served as a consultant to organizations striving to strengthen
                                    the quality and impact of their synchronous online offerings, including Next Gen
                                    Personal Finance (his podcast with the Next Gen co-founder on online learning
                                    techniques is here), Philly Academy of School Leaders, and The Together Group.
                                    Prior to joining Relay Online, Zach served as the first Assistant Professor of Practice
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="large-profiles--profile profile-6">
                <a href="#profile-6" rel="modal:open">
                    <div class="large-profiles--profile-box">
                        <div class="large-profiles--profile-media">
                            <img src="images/image85.png">
                        </div>
                        <div class="large-profiles--profile-text">
                            <h5>Zach Blattner</h5>
                            <span class="subtitle">
                                Role/subtitle
                            </span>
                        </div>
                    </div>
                </a>
                <div id="profile-6" class="modal relay-modal large-profiles--modal">
                    <div class="large-profiles--profile-wrap">
                        <header>
                            <h3>Zach Blattner</h3>
                            <span class="subtitle">
                                Subtitle / Role
                            </span>
                        </header>
                        <div class="large-profiles--profile-bio">
                            <div class="large-profiles--bio-media-wrap">
                                <div class="large-profiles--bio-media">
                                    <img src="images/image85.png">
                                </div>
                            </div>
                            <div class="large-profiles--bio-text">
                                <p>
                                    Before launching Relay’s Professional Education team, Zach helped found Relay
                                    Online in 2017, where he provided instruction and advising to hundreds of English
                                    teachers across the country. In that role, he worked to apply the strong adult
                                    facilitation skills he developed as an instructor and school leader in combination
                                    with digital technologies and tools to ensure rigorous interactive online learning.
                                    Zach has also recently served as a consultant to organizations striving to strengthen
                                    the quality and impact of their synchronous online offerings, including Next Gen
                                    Personal Finance (his podcast with the Next Gen co-founder on online learning
                                    techniques is here), Philly Academy of School Leaders, and The Together Group.
                                    Prior to joining Relay Online, Zach served as the first Assistant Professor of Practice
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</section>