<section class="new-stories py-5">
    <header class="container-sm new-stories--heading">
        <h2 class="color-pacific">News & Stories</h2>
    </header>
    <div class="new-stories--wrap">

        <div class="col-1 new-stories--wrap-col">
            <div class="new-stories--media">
                <img src="images/image37.png">
            </div>
            <div class="new-stories--text container-sm">
                <span class="new-stories--subtitle">
                    Diversity
                </span>
                <h6>You can’t wait: Building a Shared Vision for Racial Equity</h6>
                <p>
                    Laura Garza says a crystalizing moment last spring came during a virtual end-of-the-year awards ceremony.
                </p>
                <a href="#" class="link">Read More</a>
            </div>
        </div>
        <div class="col-2 new-stories--wrap-col">
            <div class="bg-sea-foam container-sm new-stories--articles">
                <header>
                    <h6 class="underline">Recent Articles</h6>
                </header>
                <div class="new-stories--article">
                    <a href="#">
                        <div class="new-stories--article-media">
                            <img src="images/image41.png">
                        </div>
                        <div class="new-stories--article-text">
                            <span class="new-stories--article-subtitle">News</span>
                            <p>
                                Relay's President, Dr. Mayme Hostetter selected as a 2020 Dial Fellow
                            </p>
                        </div>
                    </a>
                </div>
                <div class="new-stories--article">
                    <a href="#">
                        <div class="new-stories--article-media">
                            <img src="images/image38.png">
                        </div>
                        <div class="new-stories--article-text">
                            <span class="new-stories--article-subtitle">News</span>
                            <p>
                                Relay's President, Dr. Mayme Hostetter selected as a 2020 Dial Fellow
                            </p>
                        </div>
                    </a>
                </div>
                <div class="new-stories--article">
                    <a href="#">
                        <div class="new-stories--article-media">
                            <img src="images/image39.png">
                        </div>
                        <div class="new-stories--article-text">
                            <span class="new-stories--article-subtitle">News</span>
                            <p>
                                Relay's President, Dr. Mayme Hostetter selected as a 2020 Dial Fellow
                            </p>
                        </div>
                    </a>
                </div>
                <div class="new-stories--article">
                    <a href="#">
                        <div class="new-stories--article-media">
                            <img src="images/image40.png">
                        </div>
                        <div class="new-stories--article-text">
                            <span class="new-stories--article-subtitle">News</span>
                            <p>
                                Relay's President, Dr. Mayme Hostetter selected as a 2020 Dial Fellow
                            </p>
                        </div>
                    </a>
                </div>

            </div>
        </div>


    </div>


</section>