<section class="program-cta py-5">
    <div class="program-cta--wrapper">

        <div class="program-cta--col col-1">
            <div class=" bg-sea-foam program-cta--col-wrap">
            <article class="container-sm py-4">
                <header>
                    <h2 class="color-prussian">Ready to apply?</h2>
                </header>
                <div class="program-cta--text mb-4">
                    <p>
                        Complete the Interest Form to contact us and express your interest in one of our programs.
                    </p>
                </div>
                <div class="program-cta--cta">
                    <a href="#" class="btn btn--primary">Start Application</a>
                </div>
            </article>
            </div>
        </div>

        <div class="program-cta--col col-2">
            <div class="bg-celadon program-cta--col-wrap">
            <article class="container-sm py-4">
                <header>
                    <h2 class="color-white">Still have questions?</h2>
                </header>
                <div class="program-cta--text mb-4">
                    <p>
                        Complete the Interest Form to contact us and express your interest in one of our programs.
                    </p>
                </div>
                <div class="program-cta--cta">
                    <a href="#" class="btn btn--white-celadon">Contact Us</a>
                </div>
            </article>
            </div>
        </div>



    </div>
</section>