<section class="program-option container py-5">

    <header class="container mb-5">
        <h2 class="color-pacific">Program Options</h2>
    </header>

    <div class="program-option--wrap">

        <div class="program-option--item-wrap py-4">

            <div class="program-option--col col-1">
                <div class="program-option--col-col bg-fog border-orange">
                    <article>
                        <header>
                            <h5 class="color-prussian">Teaching Residency</h5>
                        </header>
                        <div class="program-option--col-text ">
                            <p>
                                Those new to the teaching profession find Relay’s flagship MAT with a
                                Teaching Residency program incredibly helpful. Not only will you learn from seasoned
                                professionals as you complete your graduate degree coursework, but you will also earn
                                a teaching certification and have an apprentice year where you will get hands-on
                                classroom experience. This gradual on-ramp towards teaching and managing your classroom
                                will give you the knowledge, skills, and confidence you need to excel as a teacher
                                of record.
                            </p>
                        </div>
                    </article>
                </div>
            </div>

            <div class="program-option--col col-2">
                <div class="program-option--col-col bg-sea-foam">
                    <article>
                        <header>
                            <h6 class="color-prussian">What you’ll get</h6>
                        </header>
                        <div class="program-option--col-text color-prussian">
                            <ul>
                                <li>Master of Arts in Teaching</li>
                                <li>Apprentice Year</li>
                                <li>Teaching Certification</li>
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <div class="program-option--item-wrap py-4">

            <div class="program-option--col col-1">
                <div class="program-option--col-col bg-fog border-orange">
                    <article>
                        <header>
                            <h5 class="color-prussian">Master’s Degree Only</h5>
                        </header>
                        <div class="program-option--col-text ">
                            <p>
                                If you’re already a teacher and are not seeking certification, this track will allow
                                you to complete your MAT with a combination of in-person and online courses.
                                This degree program will bolster your pedagogical knowledge and skills needed
                                to advance your career and improve student outcomes.
                            </p>
                        </div>
                    </article>
                </div>
            </div>

            <div class="program-option--col col-2">
                <div class="program-option--col-col bg-sea-foam">
                    <article>
                        <header>
                            <h6 class="color-prussian">What you’ll get</h6>
                        </header>
                        <div class="program-option--col-text color-prussian">
                            <ul>
                                <li>Master of Arts in Teaching</li>
                                <li>Teaching Certification</li>
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <div class="program-option--item-wrap py-4">

            <div class="program-option--col col-1">
                <div class="program-option--col-col bg-fog border-orange">
                    <article>
                        <header>
                            <h5 class="color-prussian">Teaching Residency</h5>
                        </header>
                        <div class="program-option--col-text ">
                            <p>
                                The accelerated track for a MAT gives current, experienced teachers a direct route
                                to completing their graduate degrees. This intensive program provides the same quality
                                graduate curriculum on a shortened timeline so you can complete your degree efficiently.
                            </p>
                        </div>
                    </article>
                </div>
            </div>

            <div class="program-option--col col-2">
                <div class="program-option--col-col bg-sea-foam">
                    <article>
                        <header>
                            <h6 class="color-prussian">What you’ll get</h6>
                        </header>
                        <div class="program-option--col-text color-prussian">
                            <ul>
                                <li>Master of Arts in Teaching</li>
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

</section>