<section class="program-accordion--wrap my-5 pb-5 container">

    <div class="program-accordion--text py-5">
        <article>
            <header>
                <h2 class="color-pacific">Our Programs</h2>
            </header>
        </article>
        <div class="program-accordion--text-text">
            <p>
                K-12 student achievement and teacher well-being. Here in Atlanta, Relay has built a community
                of practitioners focused on K-12 student achievement and teacher well-being.
            </p>
        </div>
    </div>

    <div class="program-accordion--accordion">
        <div class="program-accordion-item bg-prussian">
            <div class="program-accordion-heading">
                <h5 class="underline">Masters of Arts in Teaching</h5>
                <h6>Teaching Residency</h6>
            </div>
            <div class="program-accordion-body">
                <div class="program-accordion-body--top">
                    <div class="program-accordion-tab">
                        <span>Teaching Residency</span>
                    </div>
                    <div class="program-accordion-tab">
                        <span>2 Years</span>
                    </div>
                    <div class="program-accordion-tab">
                        <span>32 Credits</span>
                    </div>
                </div>
                <div class="program-accordion-body--body">
                    <div class="program-accordion-icon py-4">
                        <img src="images/icons/icon-graduate.svg">
                    </div>
                    <div class="program-accordion-text">
                        <h4>Tuition & Fees</h4>
                        <p>
                            <span class="accordion-bigger">$35,000</span> total
                        </p>
                        <p>+ Relay Institutional Aid: $16,000</p>
                        <p>+ Segal Americorps Education</p>
                        <p>Award*: $12,000</p>
                        <p>
                            <span class="accordion-bigger color-orange">$8,000</span> max out of pocket tuition
                        </p>
                    </div>
                </div>
                <div class="program-accordion-body--body">
                    <div class="program-accordion-icon py-4">
                        <img src="images/icons/icon-graduate.svg">
                    </div>
                    <div class="program-accordion-text">
                        <h4>Available Majors</h4>
                        <p>Elementary Secondary ELA</p>
                        <p>Secondary Math</p>
                        <p>Secondary Sciences</p>
                        <p>Secondary Social Studies</p>
                        <p>Special Education (+6 credits)</p>
                    </div>

                </div>
                <div class="program-accordion-ctas">
                    <a href="" class="btn btn--sea">Learn More</a>
                    <a href="" class="btn btn--sea">Apply Now</a>
                </div>

            </div>
        </div>

        <div class="program-accordion-item bg-prussian">
            <div class="program-accordion-heading">
                <h5 class="underline">Masters of Arts in Teaching</h5>
                <h6>Special Education Dual Certification
                </h6>
            </div>
            <div class="program-accordion-body">
                <div class="program-accordion-body--top">
                    <div class="program-accordion-tab">
                        <span>Special Education Dual Certification</span>
                    </div>
                    <div class="program-accordion-tab">
                        <span>2 Years</span>
                    </div>
                    <div class="program-accordion-tab">
                        <span>32 Credits</span>
                    </div>
                </div>
                <div class="program-accordion-body--body">
                    <div class="program-accordion-icon py-4">
                        <img src="images/icons/icon-graduate.svg">
                    </div>
                    <div class="program-accordion-text">
                        <h4>Tuition & Fees</h4>
                        <p>
                            <span class="accordion-bigger">$35,000</span> total
                        </p>
                        <p>+ Relay Institutional Aid: $16,000</p>
                        <p>+ Segal Americorps Education</p>
                        <p>Award*: $12,000</p>
                        <p>
                            <span class="accordion-bigger color-orange">$8,000</span> max out of pocket tuition
                        </p>
                    </div>
                </div>


                <div class="program-accordion-body--body">
                    <div class="program-accordion-icon py-4">
                        <img src="images/icons/icon-graduate.svg">
                    </div>
                    <div class="program-accordion-text">
                        <h4>Available Majors</h4>
                        <p>Elementary Secondary ELA</p>
                        <p>Secondary Math</p>
                        <p>Secondary Sciences</p>
                        <p>Secondary Social Studies</p>
                        <p>Special Education (+6 credits)</p>
                    </div>
                </div>
                <div class="program-accordion-ctas">
                    <a href="" class="btn btn--sea">Learn More</a>
                    <a href="" class="btn btn--sea">Apply Now</a>
                </div>

            </div>
        </div>

        <div class="program-accordion-item bg-prussian">
            <div class="program-accordion-heading">
                <h5 class="underline">Special Education Certification</h5>
                <h6>Advanced Level</h6>
            </div>
            <div class="program-accordion-body">
                <div class="program-accordion-body--top">
                    <div class="program-accordion-tab">
                        <span>Advanced Level</span>
                    </div>
                    <div class="program-accordion-tab">
                        <span>2 Years</span>
                    </div>
                    <div class="program-accordion-tab">
                        <span>32 Credits</span>
                    </div>
                </div>
                <div class="program-accordion-body--body">
                    <div class="program-accordion-icon py-4">
                        <img src="images/icons/icon-graduate.svg">
                    </div>
                    <div class="program-accordion-text">
                        <h4>Tuition & Fees</h4>
                        <p>
                            <span class="accordion-bigger">$35,000</span> total
                        </p>
                        <p>+ Relay Institutional Aid: $16,000</p>
                        <p>+ Segal Americorps Education</p>
                        <p>Award*: $12,000</p>
                        <p>
                            <span class="accordion-bigger color-orange">$8,000</span> max out of pocket tuition
                        </p>
                    </div>
                </div>


                <div class="program-accordion-body--body">
                    <div class="program-accordion-icon py-4">
                        <img src="images/icons/icon-graduate.svg">
                    </div>
                    <div class="program-accordion-text">
                        <h4>Available Majors</h4>
                        <p>Elementary Secondary ELA</p>
                        <p>Secondary Math</p>
                        <p>Secondary Sciences</p>
                        <p>Secondary Social Studies</p>
                        <p>Special Education (+6 credits)</p>
                    </div>
                </div>
                <div class="program-accordion-ctas">
                    <a href="" class="btn btn--sea">Learn More</a>
                    <a href="" class="btn btn--sea">Apply Now</a>
                </div>

            </div>
        </div>

        <div class="program-accordion-item bg-prussian">
            <div class="program-accordion-heading">
                <h5 class="underline">Alternate Route Certification</h5>
                <h6>Non-Degree Program</h6>
            </div>
            <div class="program-accordion-body">
                <div class="program-accordion-body--top">
                    <div class="program-accordion-tab">
                        <span>Non-Degree Program</span>
                    </div>
                    <div class="program-accordion-tab">
                        <span>2 Years</span>
                    </div>
                    <div class="program-accordion-tab">
                        <span>32 Credits</span>
                    </div>
                </div>
                <div class="program-accordion-body--body">
                    <div class="program-accordion-icon py-4">
                        <img src="images/icons/icon-graduate.svg">
                    </div>
                    <div class="program-accordion-text">
                        <h4>Tuition & Fees</h4>
                        <p>
                            <span class="accordion-bigger">$35,000</span> total
                        </p>
                        <p>+ Relay Institutional Aid: $16,000</p>
                        <p>+ Segal Americorps Education</p>
                        <p>Award*: $12,000</p>
                        <p>
                            <span class="accordion-bigger color-orange">$8,000</span> max out of pocket tuition
                        </p>
                    </div>
                </div>


                <div class="program-accordion-body--body">
                    <div class="program-accordion-icon py-4">
                        <img src="images/icons/icon-graduate.svg">
                    </div>
                    <div class="program-accordion-text">
                        <h4>Available Majors</h4>
                        <p>Elementary Secondary ELA</p>
                        <p>Secondary Math</p>
                        <p>Secondary Sciences</p>
                        <p>Secondary Social Studies</p>
                        <p>Special Education (+6 credits)</p>
                    </div>
                </div>

                <div class="program-accordion-ctas">
                    <a href="" class="btn btn--sea">Learn More</a>
                    <a href="" class="btn btn--sea">Apply Now</a>
                </div>

            </div>
        </div>


    </div>

</section>