<section class="py-5 scattered-story">

    <div class="scattered-story--wrap">

        <div class="col-1 scattered-story--col">

            <div class="scattered-story--card">
                <div class="scattered-story--media">
                    <img src="images/image30.png">
                </div>
                <div class="scattered-story--text">
                    <p>
                        <strong>Innovate and Inspire</strong> — Relay was founded by innovative educators driven to improve PK-12
                        education through a bold vision for pragmatic and meaningful teacher preparation.
                    </p>
                </div>
            </div>
            <div class="scattered-story--card">
                <div class="scattered-story--media">
                    <img src="images/image34.png">
                </div>
                <div class="scattered-story--text">
                    <p>
                        <strong>Meaningful Feedback</strong> — Whether you are a part of our teaching residency or
                        pursuing leadership credentials, your instructors are on-hand to provide personal feedback
                        to improve your skills.
                    </p>
                </div>
            </div>

        </div>
        <div class="col-2 scattered-story--col">
            <div class="scattered-story--card">
                <div class="scattered-story--media">
                    <img src="images/image31.png">
                </div>
                <div class="scattered-story--text">
                    <p>
                        <strong>Practical Curriculum</strong> — Relay’s curriculum combines theory and practical application,
                        so you learn research-based teaching strategies that have the greatest impact on student learning.
                    </p>
                </div>
            </div>

            <div class="scattered-story--card">
                <div class="scattered-story--media">
                    <img src="images/image32.png">
                </div>
                <div class="scattered-story--text">
                    <p>
                        <strong>Learn from Top Educators</strong> — Relay’s instructors walk the walk. With years as
                        educators and leaders, your professors are among the best in the field and will help prepare
                        you for success.
                    </p>
                </div>
            </div>

        </div>
    </div>


</section>