<section class="card-video-hero card-heading card-text--left mb-5">
    <div class="card-video--header">
        <h3 class="color-pacific">
            Transforming Education
        </h3>
    </div>
    
        <div class="card-video-hero--video">
            <div class="card-video-hero--text bg-crimson">
                <h3>
                    One <span class="text-underline">teacher</span> at a time
                </h3>
            </div>
            <img class="media" src="images/hero_video.png" alt="" >
            <img src="images\icons\slick-dots.png" alt="">
            <video>
                <source src="" type="">
            </video>
            
    </div>
<!--    <div class="card-image&#45;&#45;decoration-button">-->
<!--        <img class="path-first" src="images/path1.png" alt="">-->
<!--        <img class="path-second" src="images/path2.png" alt="">-->
<!--    </div>-->

</section>